﻿<%@ Control Language="VB" ClassName="footer" %>

<div id="footerCell">

	<div id="footerHold">
    
    	<%--<div style="float:left; width:200px;">
    	  <h3>About Us</h3>
    	  <ul class="white">
    	    <li><a href="#">Reserve Your Car</a></li>
    	    <li><a href="#">Our Island</a></li>
    	    <li><a href="#">Careers</a></li>
    	    <li><a href="#">Privacy Policy</a></li>
    	    <li><a href="#">Terms Of Use</a></li>
    	    <li><a href="#">Site Map</a></li>
  	      </ul>
      </div>
        <div style="float:left; width:200px;">
          <h3>Our Fleet</h3>
          <ul class="white">
            <li><a href="#">4x4 Jeep Wranglers</a></li>
            <li><a href="#">Two (2) Door Jeeps</a></li>
            <li><a href="#">Four (4) Door Jeeps</a></li>
            <li><a href="#">Hardtop Jeeps</a></li>
            <li><a href="#">Convertible Jeeps</a></li>
          </ul>
        </div>
        <div style="float:right; width:440px; text-align:right"><img src="../images/footer-logo.png" width="437" height="128" alt="">
        <p class="white">Website by <a href="http://www.datamine.net" title="Northwest Indiana Web Site Design" target="_blank">DataMine Internet Marketing Solutions </a></p></div>
    --%>
</div>

</div>

