﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="Slider.ascx.vb" Inherits="controls_Slider" %>

<div class="cell-slider">
    
    	<!-- Background wrapper: -->
          <div class="cell-under">
            	
                <div id="example">
			
          			<div id="slides">
                    
                    	<div class="slides_container">
                        
                        <%--<a href="#" title=""><img src="/images/slider-1.jpg" width="980" height="393" alt=""/></a>
                        <a href="#" title=""><img src="/images/slider-1.jpg" width="980" height="393" alt=""/></a>
                                    --%>
                        </div>
                        
                        <!--a href="#" class="prev"><img src="img/arrow-prev2.png" width="24" height="43" alt="Arrow Prev"></a>
                        <a href="#" class="next"><img src="img/arrow-next2.png" width="24" height="43" alt="Arrow Next"></a-->
                     </div>
			
				</div>
               <%-- <img src="/images/divider-19.png" width="980" height="20" alt=""/>--%>
          </div>
        
          <!-- Content wrapper; all original content goes inside of this div: -->
           
          <div class="cell-over">
          
            <!-- Begin content block -->
           
      		<%--<div class="cell-reservation-block-gray">
                    <div class="cell-reservation-block">
                    
                        <div class="page">
                            
                            <div>Pick up</div>
                            <input name="" type="text" value="12/2/2014" /> 
                            <select name="asdf" size="dsf"><option value="#">8:00 am</option></select>
                            
                            <div style="margin-top:15px;">Return</div>
                            <input name="" type="text" value="12/2/2014" /> 
                            <select name="asdf" size="dsf"><option value="#">8:00 am</option></select>
                            
                            <div style="margin-top:15px;">Discount Code</div>
                            <input name="" type="text" value="" placeholder="Optional" /> 
                            
                            <div style="margin-top:15px;"><a href="#" class="gen_button">Get Rates</a></div>
                         
                        </div>
                        
                    </div>
                    
                    <div class="cell-already-have">Have a Reservation? <a href="#" class="small_button">Modify</a> <a href="#" class="small_button">Cancel</a></div>
                </div>--%>
            <!-- End content block -->
            
      </div>
    
    
    </div>
