﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="WebUserControlForDefault.ascx.vb" Inherits="controls_WebUserControl" %>
<%@ Register TagName="search" TagPrefix="my" Src="~/controls/SearchBox.ascx" %>



          <my:search ID="txt" runat="server" />
