@charset "utf-8";
/*
 *	-------------------------------
 *		Mudith Parakkrama  		
 * 		www.mudithonline.com
 *	-------------------------------
 *
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
@font-face {
    font-family: 'latoblack';
    src: url('fonts/lato-black-webfont.eot');
    src: url('fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-black-webfont.woff2') format('woff2'),
         url('fonts/lato-black-webfont.woff') format('woff'),
         url('fonts/lato-black-webfont.ttf') format('truetype'),
         url('fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latobold';
    src: url('fonts/lato-bold-webfont.eot');
    src: url('fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato-bold-webfont.woff') format('woff'),
         url('fonts/lato-bold-webfont.ttf') format('truetype'),
         url('fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('fonts/lato-light-webfont.eot');
    src: url('fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-light-webfont.woff2') format('woff2'),
         url('fonts/lato-light-webfont.woff') format('woff'),
         url('fonts/lato-light-webfont.ttf') format('truetype'),
         url('fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-regular-webfont.eot');
    src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato-regular-webfont.woff') format('woff'),
         url('fonts/lato-regular-webfont.ttf') format('truetype'),
         url('fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container {
	width:100% !important;
}

body {
	font: 15px/22px 'latoregular';
	/**background: url(../images/bg-reserve.jpg) no-repeat center top;*/
	background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'latolight';
	font-weight: normal;
	margin: 0px;
}
p {
	margin-bottom: 20px;
}
#header {
	border-top: 5px solid #ce3233;
	background: url(../images/bg-header.jpg) no-repeat center top;
	padding-bottom: 25px;
	background-size: cover;
}
#header .logo {
	margin-top: 10px;
}
#header .call {
	font-size: 20px;
	
	color: #FFF;
}
#header .call a {
	font-size: 28px;
  	display: block;
  	color: #FFF;
  	float: right;
 	margin: 10px 0px 10px 15px;
}
.navbar {
	border: none;
	margin-top: 70px;
	margin-bottom: 0px;
}
.navbar-nav > li > a {
	font-size: 20px;
	color: #fff !important;
	text-transform: uppercase;
}	
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent;
}
.nav > li > a:focus, .nav > li > a:hover {
	background-color: transparent;
}
.navbar-brand {
	color: #fff;
	text-transform: uppercase;
}
.navbar-toggle {
    border: 1px solid #fff;
}
.navbar-toggle .icon-bar {
	background: #fff;
}
/*.first {
	padding-left: 0px !important;
}*/
.last {
	padding-right: 0px !important;
}
.reserve {
	padding: 20px;
	min-height: 455px;
	overflow: hidden;
	color: #fff !important;
	position: relative;
}
.reserve h2 {
	color: #FFF !important;
	font-size: 24px !important;
}
.reserve h3 {
	color: #FFF !important;
	font-size: 18px !important;
	margin: 10px 0px 5px;
	text-transform: uppercase;
}

.reserve .prev {
	line-height: 17px;
	margin-top: 15px;
	position: absolute;
	bottom: 20px;
}
.reserve select {
	border: 1px solid #e0e0e0;
	height: 38px;
	width: 100%;
	background: #FFF;
/**	margin-top: 15px;
	margin-bottom: 15px;**/
	color: #212121;
}
.reserve .desc {
	font: 18px 'latobold';
}

.txt-date {
	border: 1px solid #e0e0e0;
	height: 38px;
	width: 60%;
	background: #FFF;
	color: #212121;
}
.txt-time {
	border: 1px solid #e0e0e0;
	height: 38px;
	width: 35%;
	background: #FFF;
	float: right;
	color: #212121;
}
.txt-promo {
	width: 100%;
	border: 1px solid #e0e0e0;
	height: 38px;
	background: #FFF;
	margin: 15px 0px 35px;
	color: #212121;
}
.btn-get {
	background-color: #fdf90b;
	text-transform: uppercase;
	color: #0001ca;
	padding: 5px 20px;
	border-style: none;
	float: right;
	font: 21px 'latobold';
}
.link-cancel {
	display: inline-block;
	background-color: #55639a;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
	padding: 5px 15px;
	font: 15px 'latobold';
}	
.link-modify {
	display: inline-block;
	background-color: #798acf;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
	padding: 5px 15px;
	font: 15px 'latobold';
}
.link-cancel:hover { 
	color: #fff;
	text-decoration: none;
}
.link-modify:hover {
	color: #fff;
	text-decoration: none;
}
#reserve-slide {
	margin-bottom: 20px;
}
#reserve-slide h1 {
	text-transform: uppercase;
	color: #FFF;
	margin: 0px;
	padding: 0px;
	word-spacing:5px;
	font-size: 24px;
}
#content {
	background: url(../images/bg-content.jpg) no-repeat center top;
	min-height: 930px;
}
#body {
	background: #FFF;
}
#body h1 {
	text-transform: uppercase;
	color: #24336e;
	font-size: 28px;
	margin-bottom: 15px;
}

#body h2{
	font-size: 24px;
	margin-bottom: 15px;
	margin-top: 15px;
	color: #204DBC;
}

#body h3 {
	font-size: 16px;
	text-transform: uppercase;
	color: #0001CB;
}

#body h3 small {
	font-size:75%;
	color:#9ea0d9;
}

.link-more {
	background-color: #cd3133;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
	padding: 8px 15px;
	font: 16.5px 'latobold';
	margin-right: 15px;
	display: inline-block;
}
.link-more:hover { 
	color: #fff;
	text-decoration: none;
}
.welcome {
	margin-bottom: 50px;
}
.welcome p {
	color: #2c2c2c;
	font: 16.5px/21px 'latobold';
	margin-bottom: 30px;
}

#fleetcells{ text-align:center;}
#fleetcells h2 { border-top:1px solid #CCC; margin-top:25px;}
#fleetcells img{ margin-top:20px; text-align:center;}



.fleet .box {
	margin-bottom: 50px;
	text-align: center;
}
.fleet .made {
	text-transform: uppercase;
	color: #767676;
	font: 16.5px 'latobold';
}
.fleet .begin {
	text-transform: uppercase;
	color: #ce3233;
	font: 11.5px 'latobold';
}
.fleet .price {
	font: 25.5px 'latobold';
	display: inline-block;
	color: #ce3233;
	margin-top: -10px;
}
.fleet .price span {
	float: right;
	text-transform: uppercase;
	font: 10.5px 'latobold';
	margin: 10px 0px 0px 5px;	
}
#step {
	font: 18px;
	text-transform: uppercase;
	color: #FFF;
	
}
#step .active a, .inactive a {
	color: #fff;
}
#step .active .num {
	width: 30px;
	height: 30px;
	display: inline-block;
	float: left;
	text-align: center;
	margin: 0px 10px 0px 15px;
}
#step .active {
	background: #0001CB;
	padding: 20px 0px 10px;
}
#step .inactive .num {
	width: 30px;
	height: 30px;
	display: inline-block;
	float: left;
	text-align: center;
	margin: 0px 10px 0px 15px;
}

#step .inactive {
	background: #797979;
	padding: 20px 0px 10px;
}
.vehicle .type {
	font-size: 17px;
}
.vehicle .row {
	border-bottom: 1px solid #d0d8dd;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.vehicle h2 {
	font-size: 24px;
	font-weight: normal;
	text-transform: none;
	color: #204dbc;
}
.vehicle .price {
	text-align: center;
	margin-top: 50px;
}
.vehicle .price .daily {
	text-transform: uppercase;
	color: #204dbc;
	font: 31px 'latobold';
}
.vehicle .price .total {
	font-size: 17px;
	text-transform: uppercase;
	color: #7a7a7a;
}
.link-book {
	width: 100%;
	text-align: center;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: #d93335;
	display: inline-block;
	font: 20px 'latobold';
	text-transform: uppercase;
	color: #FFF;
	margin-top: 65px;
	padding: 5px 0px;
}
.link-book:hover {
	color: #fff;
	text-decoration: none;
}


.pricelist{
	color:#0001CB;
	font-size:20px;
}

.pricelist-counter{
	color:#ABABAB;
	font-size:20px;
}


#footer {
	border-top: 4px solid #1e2b5c;
	color: #FFF;
}
#footer h3 {
	font-size: 21px;
	margin-bottom: 15px;
}

#footer a {

	color: #FFF;
}

#footer ul li a {
	line-height: 24px;
	color: #FFF;
}


#footer .action {
	background: url(../images/bg-footer-action.jpg) repeat-x left top;
	font-size: 21px;
	padding: 12px 0px;
	background-size: cover;
}
#footer .action .social {
	font-family: 'latobold';
	text-transform: uppercase;
	text-align: right;
}
#footer .action .social a {
	width: 40px;
	height: 40px;
	padding-top:10px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-color: #cd3133;
	display: inline-block;
	color: #FFF;
	text-align: center;
	line-height: 40px;
	margin-left: 5px;
}


#footer .info {
	background: url(../images/bg-footer-info.jpg) repeat-x left top;
	padding: 25px 0px 50px;
	background-size: cover;
}



/***********************Contact Form******************************/

.frm {


    max-width: 500px;
    background: #FFF;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.frm h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}
.frm h1>span {
    display: block;
    font-size: 11px;
}
.frm label {
    display: block;
    margin: 0px 0px 5px;
}
.frm label>span {
    float: left;
    width: 40%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.frm input[type="text"], .frm input[type="email"], .frm textarea, .frm select {
    border: 1px solid #CCC;
    color: #888;
    height: 35px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 95%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.frm select {
    background: #FFF;
    background: #FFF;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height:15px;
}
.frm textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 95%;
}
.frm .button {
    background: #FFA322;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 4px;
}
.frm .button:hover {
    color: #FFF;
    background-color: #575c5f;
    border-color: #ADADAD;
	cursor:pointer;
}
/***********End Contact Form****************/
    .google-maps {
        position: relative;
        padding-bottom: 75%; 
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
		margin-top:20px;
		margin-bottom:10px;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
	
    }



/**************** RES STYLES ***********************/

.itin-box {
}

.itin-box div {
	padding: 20px 0px;
	background: #eff2fb;
	min-height:110px;
	margin-bottom:15px;
}


.pay-box {
	padding:15px 0px;
}

.itin-box div:first-of-type {
	padding-left:15px;
}
.itin-box div:last-of-type {
	padding-right:15px;
}

@media (max-width: 768px) {
.itin-box {
	margin-bottom:10px;
}

.itin-box div {
	padding: 0px 0px;
	background: #FFF;
	min-height:0px;
	margin-bottom:0px;
}

.itin-box div:first-of-type {
	padding-left:0px;
}
.itin-box div:last-of-type {
	padding-right:0px;
}

.car-row {
	margin-bottom: 20px;
	text-align:center;
}
}

.car-row img {
	max-width: 175px;
}


.btn-next {
	background-color:#0001CB;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:38px;
	line-height:38px;
	width:150px;
	text-decoration:none;
	text-align:center;
	border:none;
	text-shadow:1px 1px 0px #0001CB;
}.btn-next:hover {
	background-color:#2728e9;
	color:#ffffff;
	text-decoration:none;
}.btn-next:active {
	position:relative;
	top:1px;
}


.btn-counter {
	background-color:#F5F602;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	display:inline-block;
	color:#0001CB;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:38px;
	line-height:38px;
	width:150px;
	text-decoration:none;
	text-align:center;
	border:none;
	/**text-shadow:1px 1px 0px #868686;**/
}.btn-counter:hover {
	background-color:#868686;
	color:#ffffff;
	text-decoration:none;
}.btn-counter:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */