@media (max-width: 1199px) {
	.nav > li > a {	
		padding-left: 10px;
		padding-right: 10px;
	}
	.reserve {
		margin-bottom: 20px;
	}


}




@media (max-width: 992px) {
	.navbar {
		margin-top: 0px;
	}
	#footer .action .social {
		margin-top: 10px;
		text-align: left;
	}
	#footer .info .box {
		margin-bottom: 30px;
		text-align: left !important;
	}
}


@media (max-width: 768px) {
	.navbar-right {
		text-align: left;		
	}
	
	.vehicle .price {
		margin-top: 0px;
		text-align: left;
	}
	.link-book {
		margin-top: 20px;
	}
	#header .call {
		display: none;
	}
	#step .active span {
		display: none;
	}
	#step .inactive span {
		display: none;
	}
}




