@font-face {
    font-family: 'Lato';
    src: url('lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueLTStd-Md.eot');
  src: local('☺'), url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'), 
                  url('../fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'), 
                  url('../fonts/HelveticaNeueLTStd-Md.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


a, input, textarea, button, select {
  outline: none;
}
a:hover, a:focus, input:focus, textarea:focus, button:focus, select:focus {
  outline: none !important;
  text-decoration: none;
}
body {
  font-family: "Lato";
  font-size: 14px;
  color: #4d4d4d;
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5,h6,hr{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
input[type="search"], input[type="text"], input[type="url"], input[type="number"], input[type="password"], input[type="email"], input[type="file"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
code, kbd, pre, samp {
  font-size: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
select{
  border: 1px solid #e2e1e1;
}
.color{
  color: #f17920;
}
.padding-section{
  padding: 65px 0;
}
.padding-section-top{
  padding-top: 65px;
}
.padding-section-bottom {
  padding-bottom: 65px;
}
.bg-light{
  background: #fff;
}
.bg-dark{
  background: #ebebeb;
}
.text-align-left{
  text-align: left;
}
.text-align-right{
  text-align: right;
}
.modal{
  background: rgba(0,0,0,0.8);
}
/*===TITLE===*/
.title-style{
  position: relative;
  text-align: center;
  margin: 15px 0 50px 0;
}
.title-style h2{
  position: absolute;
  display: inline-block;
  top: 0;
  left: 50%;
  padding: 0 70px;
  font-weight: bold;
  font-size: 38.74px;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
       -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  white-space: nowrap;
}
.title-style hr{
  height: 2px;
  background: #f17920;
}
.title-style .line-top{
  margin-bottom: 2px;
}
/*===ARROW===*/
.arrow_box_light{
  position: relative;
}
.arrow_box_light:after{
  content: " ";
  background: url(../images/GREY.png) no-repeat;
  height: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-position: center;
}
.arrow_box_dark{
  position: relative;
}
.arrow_box_dark:after{
  content: " ";
  background: url(../images/WHITE.png) no-repeat;
  height: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-position: center;
}
.arrow_box_banner{
  position: relative;
}
.arrow_box_banner:after{
  content: " ";
  background: url(../images/arow-banner.png) no-repeat;
  height: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-position: center;
}
.arrow_box_banner_2{
  position: relative;
}
.arrow_box_banner_2:after{
  content: " ";
  background: url(../images/arow-banner-2.png) no-repeat;
  height: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-position: center;
}
/*===========HEADER============*/
header{
  overflow: hidden;
}
.header-top{
  padding: 22px 0px 16px 0px;
  float: left;
  width: 100%;
}
.header-top .header-top-left{
  float: left;
}
.header-top .header-top-left a{
  float: left;
}
.header-top .header-top-left .desc-header{
  padding-top: 22px;
  color: #969696;
  margin-left: 18px;
  float: left;
  font-size: 18.23px;
}
.header-top .header-top-right{
  padding-top: 22px;
  float: right;
}
.header-top .header-top-right .language{
  float: left;
}
.header-top .header-top-right .language span{
  text-transform: uppercase;
  font-size: 18.23px;
  color: #969696;
}
.header-top .header-top-right .language strong{
  color: #000;
  font-size: 18.23px;
}
.header-top .header-top-right .header-login{
  float: left;
  margin-left: 60px;
}
.header-top .header-top-right .header-login a{
  color: #969696;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18.23px;
}
.header-top .header-top-right .header-login a:hover{
  color: #000;
}
.navbar{
  width: 100%;
  background: #5a5a5a;
  margin: 0;
  border-radius: 0;
  float: left;
  border: none;
  text-align: center;
}
.bnt-nav{
  float: left;
  width: 20%;
  text-align: center;
}
.bnt-nav button{
  border: 1px solid transparent;
  margin: 0;
  float: none;
}
.bnt-nav button span.icon-bar{
  background: #000;
  margin: 0 0 0 9px;
  height: 3px;
}
.bnt-nav button span{
  color: #000;
  text-transform: uppercase;
  margin-top: 5px;
  display: block;
  font-weight: bold;
}
.navbar .navbar-collapse{
  border-top: 0px !important;
}
.navbar ul.navbar-nav{
  list-style: none;
  margin: 0;
  padding: 0;
  float: inherit;
  display: inline-block;
}
.navbar ul.navbar-nav li{
  float: left;
  list-style: none;
}
.navbar ul.navbar-nav > li > a{
  display: block;
  font-weight: bold;
  font-size: 18.23px;
  text-transform: uppercase;
  padding: 5px 20px;
  line-height: 50px;
  color: #fff;
}
.navbar ul.navbar-nav > li > a:hover,
.navbar ul.navbar-nav > li > a:focus{
  color: #f59106;
  background: #323232;
}
/*Header-2----------------------------*/
.header-2 .navbar ul.nav-2{
  list-style: none;
  margin: 0;
  padding: 0;
  float: inherit;
  display: inline-block;
}
.header-2 .navbar ul.nav-2 li{
  float: left;
  list-style: none;
}
.header-2 .navbar ul.nav-2 > li > a{
  display: block;
  font-weight: bold;
  font-size: 18.23px;
  text-transform: uppercase;
  padding: 5px 20px;
  line-height: 50px;
  color: #fff;
}
.header-2 .navbar ul.nav-2 > li > a:hover,
.header-2 .navbar ul.nav-2 > li > a:focus,
.header-2 .navbar ul.nav-2 > li.active a{
  color: #f59106;
  background: #323232;
}
.header-2 .navbar .pesos{
  float: right;
  width: auto;
}
.header-2 .header-top-right  .pesos select{
  float: left;
  width: 100%;
  height: 28px;
  font-size: 12px;
  padding: 0 10px;
  text-align: center;
}
.header-2 .header-top-right  .pesos select option{
  padding: 4px 10px;
}
.header-2 .navbar .pesos a{
  color: #fff;
  background: #f07920;
  font-size: 16px;
  font-weight: bold;
  padding: 19px 10px;
  display: block;
}
.header-2 .navbar .pesos a i{
  font-size: 25px;
  float: right;
  margin-left: 5px;
}
.header-2 .header-top .header-top-right .header-login{
  float: right;
}
.header-2 .header-top .header-top-right{
  padding: 0 15px 0 0;
}
.header-2 .header-top .header-top-right .language{
  float: right;
}
.header-2 .pesos{
  float: left;
  width: 50%;
}
.header-2 .pesos a{
   color: #fff;
  background: #f07920;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 5px 0;
}
.slider .main-slider{
  height: 100%;
}
.pesos{
  position: relative;
}
.pesos:before{
  position: absolute;
  content: "\f107";
  right: 10px;
  top: 50%;
  font-size: 20px;
  color: #fff;
  font-family: 'FontAwesome';
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.pesos select{
  background: #f07920;
  border: none;
  font-size: 16px;
  color: #fff;
  font-family: 'Lato';
  padding: 7.5px 20px;
  box-shadow: none;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 60px;
}
.pesos select:focus{
  outline: none;
}
.pesos select option{
  padding: 10px;
  height: 60px;
}
/*wrap-form-reserva================*/
.wrap-form-reserva .form-reserva{
  position: inherit;
  float: left;
  width: 100%;
  background: #4c4c4c;
  padding: 15px 25px;
  margin: 20px 0;
  left: 0;
  top: 0;
}
.wrap-form-reserva .form-reserva h3{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  float: left;
  width: 100%;
  text-align: center;
  margin: 15px 0;
}
.wrap-form-reserva .form-reserva form .form-group{
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.wrap-form-reserva .form-reserva form .form-group-2{
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.wrap-form-reserva .form-reserva form .form-group-2.underline{
  border-bottom: 2px solid #fff;
}
.wrap-form-reserva .form-reserva form .form-group-2 .form-group{
  width: 50%;
}
.wrap-form-reserva .form-reserva form .form-group-2 .form-group:last-child{
  padding-left: 10px;
}
.wrap-form-reserva .form-reserva form .form-group-2 .form-group:first-child{
  padding-right: 10px;
}
.wrap-form-reserva .form-reserva form label{
  color: #fff;
  font-size: 17px;
  font-weight: normal;
  float: left;
}
.wrap-form-reserva .form-reserva form input{
  background: #fff;
  border: 0px !important;
  box-shadow: none;
  border: 0px;
  float: left;
}
.wrap-form-reserva .form-reserva form input[type="checkbox"]{
  margin: 5px 5px 0px 0;
}
.wrap-form-reserva .form-reserva form .bnt-book-now{
  float: left;
  width: 100%;
  border-radius: 3px;
  background: #30af0b;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 9px 18px;
  border: none;
}
.client-2 figure{
    height: 70px;
  }
/*======SLIDER============*/
.form-reserva{
  width: 400px;
  position: absolute;
  top: 10px;
  left: 48px;
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  padding: 15px 25px;
}
.form-reserva h3{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  float: left;
  width: 100%;
  text-align: center;
  margin: 15px 0;
}
.form-reserva form .form-group{
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.form-reserva form .form-group-2{
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.form-reserva form .form-group-2.underline{
  border-bottom: 2px solid #fff;
}
.form-reserva form .form-group-2 .form-group{
  width: 50%;
}
.form-reserva form .form-group-2 .form-group:last-child{
  padding-left: 10px;
}
.form-reserva form .form-group-2 .form-group:first-child{
  padding-right: 10px;
}
.form-reserva form label{
  color: #fff;
  font-size: 17px;
  font-weight: normal;
  float: left;
}
.form-reserva form input{
  background: #fff;
  border: 0px !important;
  box-shadow: none;
  border: 0px;
  float: left;
}
.form-reserva form input[type="checkbox"]{
  margin: 5px 5px 0px 0;
}
.form-reserva form .bnt-book-now{
  float: right;
  background: #30af0b;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 9px 18px;
  border: none;
  border-radius: 3px;
}
.slider .main-slider .item figure img{
  max-width: 100%;
}
.slider .main-slider .owl-controls.clickable{
  text-align: right;
  margin: 0;
  padding: 0 40px 10px 0;
  position: absolute;
  bottom: 20px;
  right: 0;
}
.slider .main-slider .owl-controls.clickable .owl-pagination .owl-page span{
  background: #fff;
  opacity: 1;
  position: relative;
  margin: 2px;
}
.slider .main-slider .owl-controls.clickable .owl-pagination .owl-page span:before{
  background-color: #f17920;
  border-radius: 50%;
  bottom: 2px;
  content: "";
  left: 2px;
  opacity: 0;
  position: absolute;
  right: 2px;
  top: 2px;
  opacity: 0;
  visibility: hidden;
}
.slider .main-slider .owl-controls.clickable .owl-pagination .owl-page.active span:before{
  opacity: 1;
  visibility: visible;
}
.slider .main-slider .into-text{
  position: absolute;
  right: 0;
  top: 60px;
  width: auto;
  height: 100%;
}
.slider .main-slider .into-text h2{
  font-weight: bold;
  font-size: 48.02px;
  color: #fff;
  background: rgba(241,121,32,0.8);
  padding: 10px 40px 10px 10px;
  float: right;
}
.slider .main-slider .into-text strong{
  font-size: 84.95px;
  font-weight: bold;
  background: rgba(241,121,32,0.8);
  padding: 10px 40px 10px 10px;
  color: #fff;
  clear: both;
  float: right;
  line-height: 84px;
  margin: 5px 0;
}
.slider .main-slider .into-text span{
  clear: both;
  float: right;
  background: rgba(0,0,0,0.8);
  padding: 10px 40px 8px 15px;
}
.slider .main-slider .into-text span p{
  margin: 0;
  color: #fff;
  font-size: 20.41px;
}
.slider .main-slider .into-text span em{
  font-size: 13.61px;
  color: #fff;
}

/*==============MAIN-CONTENT======================
==================================================*/
/*===BANNER===*/
.banner img{
  width: 100%;
}
.banner{
  height: 550px;
  overflow: hidden;
}
.banner-about{
  background: #7D919A;
  overflow: hidden;
}
.banner-about figure{
  float: left;
  width: 100%;
}
.banner-about figure img{
  max-width: 100%;
}
.banner-about .banner-info{
  float: left;
  width: 100%;
}
.banner-about .banner-info p{
  font-size: 22.78px;
  color: #fff;
}
.banner-about .banner-info p:first-child{
  margin-bottom: 20px;
}
/*===WRAP-PRICE===*/
.price {
  background: #fff;
}
.wrap-price ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.wrap-price ul li{
  width: 50%;
  float: left;
  padding: 7.5px 0;
  padding-left: 15px;
}
.wrap-price ul li img{
  float: left;
  margin-top: 5px;
}
.wrap-price ul li span{
  padding-left: 35px;
  display: block;
  font-weight: bold;
  font-size: 24px;
  font-size: 27.34px;
}
/*===PRICE-SERVICE===*/
.price-sevrvice .wrap-price-sevrvice{
  width: 100%;
}
.price-sevrvice .wrap-price-sevrvice .price-sevrvice-card{
  float: left;
  width: 50%;
  padding: 0 20px;
}
.price-sevrvice .wrap-price-sevrvice .price-sevrvice-card h3{
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  font-size: 27.34px;
  font-weight: bold;
}
.price-sevrvice .wrap-price-sevrvice .price-sevrvice-card .desc{
  font-size: 15.95px;
}
.price-sevrvice .wrap-price-sevrvice .price-sevrvice-info{
  float: left;
  width: 50%;
  border-left: 1px solid #666666;
  padding: 0 20px;
}
.price-sevrvice .wrap-price-sevrvice .price-sevrvice-info h3{
  margin-bottom: 30px;
  text-align: center;
   font-size: 27.34px;
  font-weight: bold;
}
.price-sevrvice .wrap-price-sevrvice .price-sevrvice-info .desc{
  margin-top: 5px;
  font-size: 15.95px;
}
.price-sevrvice .wrap-price-sevrvice .price-sevrvice-card .price-sevrvice-img{
  text-align: center;
}
.price-sevrvice .wrap-price-sevrvice .price-sevrvice-info .price-sevrvice-img img{
  padding: 0 20px;
}
/*===PRICE-TABLE===*/
.price-table .price-table-detail{
  float: left;
  width: 100%;
}
.price-table .price-table-detail tr td{
  float: left;
  width: 28%;
  padding: 11px 0 11px 8px;
  margin-right: 3%;
  text-align: center;
}
.price-table .price-table-detail tr td:first-child{
  width: 38%;
  text-align: left;
}
.price-table .price-table-detail tr td:last-child{
  margin-right: 0;
}
.price-table .price-table-detail tbody tr:nth-of-type(2n) td{
  background: #fff;
}
.price-table .price-table-detail tbody tr:nth-of-type(2n+1) td{
  background: #e3e4e5;
}
.price-table .price-table-detail thead tr td{
  padding: 0 0 20px 0;
}
.price-table .price-table-detail thead tr td:first-child{
  height: 130px;
  display: table;
}
.price-table .price-table-detail thead tr td:first-child span{
  background: #fff;
  display: table-cell;
  vertical-align: bottom;
  padding-left: 8px;
  font-size: 16px;
}
.price-table .price-table-detail tr td h3{
  display: block;
  background: #ee7920;
  text-transform: uppercase;
  font-size: 18.92px;
  color: #fff;
  padding: 12px 0;
}
.price-table .price-table-detail tr td span{
  background: #E6E7E8;
  display: block;
  color: #4c4c4d;
  font-size: 31.9px;
  padding: 10px 0;
}
/*===instruction===*/
.instruction .instruction-item{
  padding: 20px 0;
}
.instruction .instruction-item:first-child{
  margin-bottom: 35px;
}
.instruction .instruction-item h3{
  text-align: center;
  margin-bottom: 10px;
  font-size: 29.62px;
  font-weight: bold;
}
.instruction .instruction-item .desc-instru{
  font-size: 15.95px;
}
/*===feature===*/
.feature .col-md-4{
  border-right: 2px solid #C0C0C0;
}
.feature .col-md-4:last-child{
  border: none;
}
.feature .feature-item{
  float: left;
  width: 100%;
}
.feature .feature-item h4{
 color: #4d4d4d;
 font-size: 29px;
 font-weight: bold;
 text-transform: capitalize;
 display: block;
 margin-top: 15px;
}
.feature .feature-item a{
  color: #47b82f;
  font-size: 18px;
  display: block;
}
.feature .feature-item figure{
  float: right;
  width: 100%;
}
/*===BLOG===*/
.blog-post .blog-post-main{
  float: left;
}
.blog-post .blog-post-main h3{
  font-weight: bold;
  font-size: 29.62px;
  margin-bottom: 10px;
}
.blog-post .blog-post-main h3 em{
  font-size: 25.06px;
  font-weight: normal;
  font-style: normal;
}
.blog-post .blog-post-main .desc p{
  font-size: 15.95px;
  margin-bottom: 25px;
}
.blog-post .blog-post-main .desc p span{

}
.blog-post .blog-post-main .bnt-read-more{
  padding: 8px 20px;
  background: #30b20b;
  color: #fff;
  font-family: 'Helvetica Neue';
  text-transform: uppercase;
  font-size: 15.95px;
  display: inline-block;
  float: left;
  border-radius: 3px;
  font-weight: 500;
}
.blog-post .blog-post-fomat img{
  max-width: 100%;
}
/*===About-us===*/
.about-us{
  background: url(../images/about-us.jpg) no-repeat;
  background-size: 100%;
  background-position: right;
}
.about-us .about-us-content{
  float: left;
  width: 100%;
}
.about-us .about-us-content p{
  float: left;
  width: 100%;
  margin-bottom: 20px;
  color: #fff;
}
/*===PRODUCT-FEATURE===*/
.product-features .product-features-title-head h3{
  text-align: center;
  font-size: 29.62px;
  font-weight: normal;
  margin-bottom: 20px;
}
.product-features .product-features-title{
  float: left;
  width: 100%;
}
.product-features .product-features-title figure{
  float: left;
  max-width: 100%;
}
.product-features .product-features-title > span{
  font-weight: bold;
  font-size: 36.45px;
  display: block;
}
.product-features .product-features-title strong{
  font-size: 200px;
  float: left;
  line-height: 1;
  width: 100%;
}
.product-features .product-features-title  strong span{
  font-weight: bold;
  font-size: 36.45px;
}
.product-features .product-features-title p{
  font-weight: bold;
  font-size: 23.92px;
  display: inline;
  margin: 0;
}
.product-features .product-features-info ul li{
  float: left;
  width: 100%;
  padding: 10px 0;
}
.product-features .product-features-info ul li h2{
  font-size: 15.95px;
}
.product-features .product-features-info ul li p{
  font-size: 13.67px;
}
.product-features .product-features-img{
  border-top: 1px solid #f17920;
  text-align: center;
  padding-top: 25px;
  margin-top: 15px;
  overflow: hidden;
}
.product-features .product-features-img h1{
  margin-bottom: 20px;
  font-size: 38.73px;
  font-weight: bold;
}
.product-features .product-features-img h3{
  font-weight: bold;
  font-size: 29.6px;
  margin-top: 10px;
}
/*===Map===*/
#location-map-wrapper{
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#location_map{
  width: 100%;
  height: 100%;
  z-index: -1;
}
/*===CONTACT-FORM===*/
.contact-us{
  height: 1000px;
  overflow: hidden;
  position: relative;
}
.contact-us .contact-us-item{
  z-index: 1;
}
.contact-us .contact-info{
  background:rgba(0,0,0,0.7);
  padding: 22px;
  z-index: 1;
}
.contact-us .contact-info:last-child{
  margin-top: 200px;
}
.contact-us .contact-info h3{
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}
.contact-us .contact-info ul.contact-info-top{
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
  padding-bottom: 15px;
}
.contact-us .contact-info ul li{
  font-size: 14px;
  color: #fff;
}
.contact-us .contact-form{
  background:rgba(0,0,0,0.7);
  margin-top: 200px;
  padding: 22px;
  float: left;
  width: 100%;
  z-index: 1;
}
.contact-us .contact-form h2{
  font-weight: bold;
  font-size: 28px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.contact-us .contact-form p{
  color: #fff;
  font-size: 16px;
  margin-bottom: 22px;
}
.contact-us .contact-form #contact-form .form-group{
  width: 100%;
  float: left;
}
.contact-us .contact-form #contact-form .form-group label{
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}
.contact-us .contact-form #contact-form .form-group input{
  width: 100%;
  background-position: #fff;
  border-radius: 3px;
  padding: 4px 8px;
  border: none;
}
.contact-us .contact-form #contact-form .form-group select{
  width: 100%;
  border-radius: 3px;
  padding: 4px 8px;
  border: none;
}
.contact-us .contact-form #contact-form .form-group select option{
  padding: 4px 8px;
}
.contact-us .contact-form #contact-form .form-group textarea{
  width: 100%;
}
.contact-us .contact-form #contact-form .form-group .bnt-sumit{
  float: right;
  padding: 8px 40px;
  background: #30b20b;
  border-radius: 3px;
  color: #fff;
  border: none;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
}
/*===TESTIMONIAL===*/
.testimonial .wrap-slide{
  width: 50%;
  padding: 0 50px;
  float: left;
  position: relative;
  border-right: 1px solid #666666;
}
.testimonial .bnt-slide{
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  -webkit-transform: translate(0,-50%);
     -moz-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
       -o-transform: translate(0,-50%);
          transform: translate(0,-50%);
}
.testimonial .bnt-slide .bnt-prev{
  float: left;
  cursor: pointer;
  color: #666666;
  font-size: 30px;
}
.testimonial .bnt-slide .bnt-next{
  float: right;
  cursor: pointer;
  color: #666666;
  font-size: 30px;
  margin-right: 10px;
}
.testimonial-slide .item figure{
  float: left;
  margin-right: 5px;
  text-align: center;
}
.testimonial-slide .item figure img{
  border-radius: 50%;
}
.testimonial-slide .item figure h2{
  font-weight: bold;
  font-size: 16px;
  margin: 5px 0;
}
.testimonial-slide .item figure ul{
  list-style: none;
  display: inline-block;
}
.testimonial-slide .item figure ul li{
  float: left;
  display: inline-block;
}
.testimonial-slide .item figure ul li i{
  color: #f17920;
  margin-right: 3px;
}
.testimonial-slide .item .desc{
  display: block;
}
.testimonial .social-testimo{
  width: 50%;
  padding-left: 40px;
  float: left;
}
.testimonial .social-testimo .social-item{
  float: left;
  width: 50%;
}
.testimonial .social-testimo a.fa-google-plus{
  float: left;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  background: #dc4a32;
  padding: 20px;
  margin-right: 10px;
}
.testimonial .social-testimo a.fa-facebook-square{
  float: left;
  font-size: 100px;
  line-height: 93px;
  margin-right: 10px;
}
.testimonial .social-testimo span{
  display: block;
  font-size: 55.21px;
  line-height: 50px;
  color: #969696;
}
.testimonial .social-testimo span em{
  font-size: 18px;
}
.testimonial .social-testimo ul{
  list-style: none;
  display: inline-block;
}
.testimonial .social-testimo ul li{
  float: left;
  display: inline-block;
}
.testimonial .social-testimo ul li i{
  color: #f17920;
  margin-right: 3px;
}
.testimonial .testimonial-logo{
  border-top: 1px solid #f17920;
  overflow: hidden;
  padding-top: 15px;
  text-align: center;
  margin-top: 20px;
}
.testimonial .testimonial-logo h1{
  margin:  10px 0 30px 0;
  font-size: 38.73px;
  font-weight: bold;
}
.testimonial .wrap-slide-logo{
  float: left;
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ee812e;
}
.testimonial .wrap-slide-logo h3{
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}
.testimonial .logo-slider .item figure{
  text-align: center;
}
/*===CLIENT===*/
.client{
  text-align: center;
  padding-bottom: 100px;
}
/*===SOCIAL====*/
.social{
  padding: 65px 0;
  text-align: center;
  display: none;
}
.social .social-item{
  float: left;
  width: 100%;
}
.social .social-item ul{
  float: left;
  width: 100%;
}
.social .social-item ul li{
  float: left;
  text-align: center;
}
.social .social-item ul li a{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  line-height: 70px;
  text-align: center;
  font-size: 40px;
}
.social .social-item ul li a.fa-facebook{
  background: #3b5995;
}
.social .social-item ul li a.fa-google-plus{
  background: #d94a32;
}
.social .social-item ul li a.fa-phone{
  background: #5cb254;
}
.social .social-item ul li a.fa-envelope-o{
  background: #316793;
}
.social .social-item ul li a.fa-skype{
  color: #6bbdde;
  font-size: 70px;
}
.social .social-item ul li a.data{
  background: url(../images/icon-footer.png);
  background-size: 100%;
}
/*===CHECKOUT===*/
.checkout .detail-check{
  float: left;
  width: 100%;
}
.checkout .detail-check table{
  border: 1px solid #c1beb7;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
.checkout .detail-check table thead{
  float: left;
  width: 100%;
}
.checkout .detail-check table tbody{
  float: left;
  width: 100%;
}
.checkout .detail-check table tbody tr{
  float: left;
  width: 100%;
  padding: 0 15px;
}
.checkout .detail-check table.detail-sevr tbody tr:last-child td{
  width: 100%;
  border-top: 2px dashed #bfbcb5;
  padding-top: 10px;
  margin-top: 10px;
}
.checkout .detail-check table thead tr{
  background: #ededed;
  display: block;
  padding: 0 15px;
}
.checkout .detail-check table thead tr th{
  color: #4f4f4f;
  padding: 10px 0;
  width: 100%;
  font-size: 18px;
}
.checkout .detail-check .detail-sevr tbody{
  padding: 10px 0;
}
.checkout .detail-check .detail-sevr tbody tr td{
  width: 50%;
  float: left;
  padding: 5px 0;
}
.checkout .detail-check .detail-sevr tbody tr td input{
  margin-right: 5px;
}
.checkout .detail-check .detail-sevr tbody tr td input,
.checkout .detail-check .detail-sevr tbody tr td label{
  float: left;
  font-size: 16px;
}
.checkout .detail-check .detail-sevr tbody tr td figure{
  float: left;
  margin-left: 8px;
}
.checkout .detail-check .detail-sevr tbody tr td span{
  display: block;
  font-size: 14.67px;
}
.checkout .detail-check .detail-sevr tbody tr td p{
  float: left;
  width: 100%;
}
.checkout .detail-check .detail-sevr tbody tr td p span{
  float: right;
  color: #F37920;
  font-weight: bold;
  text-align: right;
}
.checkout .detail-check .detail-sevr tbody tr td p span em{
  color: #4D4D4D;
  text-decoration: line-through;
  margin-left: 8px;
  font-weight: normal;
}
.checkout .detail-check .detail-price tbody{
  text-align: center;
  padding: 10px 0 0 0;
}
.checkout .detail-check .detail-price tbody tr:nth-of-type(2n){
  background: #f6f6f6;
}
.checkout .detail-check .detail-price tbody tr td{
  float: left;
  width: 25%;
  padding: 10px 0;
}
.checkout .detail-check .detail-price tbody tr th{
  float: left;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.checkout .detail-check .detail-price tbody tr th .detail-price-foot{
  display: inline-block;
}
.checkout .detail-check .detail-price tbody tr th span{
  color: #ef7920;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  float: left;
  margin-right: 10px;
  line-height: 22px;
}
.checkout .detail-check .detail-price tbody tr th figure{
  float: left;
}
.checkout .detail-check .detail-price tbody tr td:first-child{
  width: 50%;
  text-align: left;
}
.checkout .detail-check .detail-fitting tbody{
  text-align: center;
}
.checkout .detail-check .detail-fitting tbody tr:nth-of-type(2n){
  background: #f5f5f5;
}
.checkout .detail-check .detail-fitting tbody tr td{
  float: left;
  width: 15%;
  padding: 10px 0;
}
.checkout .detail-check .detail-fitting tbody tr td:first-child{
  width: 85%;
  text-align: left;
}
.checkout .detail-check .detail-fitting tbody tr td input{
  float: left;
}
.checkout .detail-check .detail-fitting tbody tr td label{
  margin-left: 8px;
  float: left;
}
.checkout .detail-check .detail-fitting tbody tr td label span{
  float: left;
  margin-right: 8px;
  font-size: 14px;
  font-weight: normal;
}
.checkout .detail-check .detail-fitting tbody tr td label figure{
  float: left;
}
.checkout .detail-check .detail-fitting tbody tr td select{
  float: right;
  margin-right: 30%;
  padding: 0px 10px;
}
.checkout .detail-check .detail-fitting tbody tr td select option{
  padding: 4px 10px;
}

.checkout .detail-check .row{
  float: left;
  width: 100%;
}
.your-data .total{
  margin-top: 20px;
}
.your-data  .total::after, .your-data  .total::before{
  border: 0 none;
}
.total {
  position: relative;
  background: #eee;
  border: 2px solid #9e9e9e;
}
.total:after, .total:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.total:after {
  border-color: rgba(238, 238, 238, 0);
  border-left-color: #eee;
  border-width: 10px;
  margin-top: -10px;
}
.total:before {
  border-color: rgba(158, 158, 158, 0);
  border-left-color: #9e9e9e;
  border-width: 13px;
  margin-top: -13px;
}
.total{
  padding: 10px 15px;
  border: 2px solid #9e9e9e;
  background: #eeeeee;
  float: left;
  width: 100%;
}
.total h4{
  float: left;
  color: #f17920;
  font-size: 20px;
  font-weight: bold;
}
.total span{
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #f17920;
  line-height: 1;
  text-align: right;
}
.total span em{
  font-size: 14px;
  font-weight: normal;
}
.checkout .continue{
  float: left;
  width: 100%;
}
.checkout .continue .bnt-continue{
  float: left;
  background: #30b20b;
  font-size: 24.7px;
  text-transform: uppercase;
  font-family: 'Helvetica Neue';
  color: #fff;
  border-radius: 3px;
  padding: 7px 25px;
  border: none;
  margin-top: 7px;
  width: 100%;
}
.checkout .continue .bnt-continue i{
  font-size: 30px;
  margin-left: 5px;
}
.checkout .detail-check table thead tr th{
 font-size:18px;
}
.ready .code ul li:nth-of-type(3) .desc{
  font-size: 14px;
}
/*===YOUR-DATA====*/
.your-data table{
  border: 1px solid #c1beb7;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
.info-user .your-data table thead{
  float: left;
  width: 100%;
}
.info-user table tbody{
  float: left;
  width: 100%;
  padding: 10px 0;
}
.info-user .your-data table tbody tr{
  float: left;
  width: 100%;
  padding: 0 15px;
}
.info-user .your-data table thead tr{
  background: #eee;
  display: block;
  padding: 0 15px;
}
.info-user .your-data table thead tr th{
  color: #4f4f4f;
  padding: 10px 0;
  width: 100%;
  font-size: 18px;
}
.info-user .your-data table tr td{
  padding: 2px 0;
}
.info-user .your-data .data-item{
  float: left;
}
.info-user .your-data table tbody tr td input{
  background: #fff;
  border: 1px solid #e2e1e1;
  padding: 6px 10px;
  float: left;
  width: 100%;
}
.info-user .your-data table tbody tr td label{
  margin-right: 5px;
  margin-left: 5px;
}
.info-user .your-data table tbody tr td option{
  padding: 6px 10px;
}
.info-user .your-data table.data-user tbody tr td{
  float: left;
  width: 100%;
}
.info-user .your-data table.data-user tbody tr:last-child td:first-child{
  width: 20%;
}
.info-user .your-data table.data-user tbody tr:last-child td{
  width: 80%;
}
.info-user .your-data table.data-user tbody tr:last-child td input:last-child{
  width: 89%;
}
.info-user .your-data table.data-user tbody tr td:first-child{
  float: left;
  width: 100%;
  padding-right: 25px;
}
.info-user .your-data table.data-user tbody tr td input{
  background: #fff;
  border: 1px solid #e2e1e1;
  padding: 6px 10px;
  width: 100%;
}
.info-user .your-data table.data-user tbody tr td option{
  padding: 6px 10px;
}
.info-user .your-data table.data-user tbody tr:first-child td input{
  width: 100%;
}
.info-user .your-data table.data-user tbody tr:last-child td input:first-child{
  width: 10%;
  margin-right: 1%;
}
.info-user .your-data table tbody tr td span{
  font-size: 16px;
  line-height: 33px;
}
.info-user .your-data table.code-user tbody tr:nth-of-type(3) td:first-child{
  border-top: 2px dashed #c0bdb6;
  margin-top: 10px;
}
.info-user .your-data table.code-user tbody tr td{
  float: left;
  width: 100%;
}
/*.info-user .your-data table.code-user tbody tr:first-child td{
  width: auto !important;
}*/
.info-user .your-data table.code-user tbody tr td:first-child{
  float: left;
  width: 100%;
  padding-right: 25px;
}
.info-user .your-data table.code-user tbody tr th{
  text-align: center;
  display: block;
}
.info-user .your-data table.code-user tbody tr th span{
  padding: 10px 15px;
  margin: 10px 0 20px 0;
  color: #30b20b;
  border: 1px solid #30b20b;
  background: #eeeeee;
  display: inline-block;
}
.info-user .your-data table.info-users tbody tr:last-child td{
  width: 100%;
  float: left;
}
.info-user .your-data table.info-users tbody tr:last-child td textarea{
  width: 80%;
}
.info-user .your-data table.info-users tbody tr td span{
  padding-right: 15px;
}
.info-user .your-data table.info-users tbody tr td span,
.info-user .your-data table.info-users tbody tr td label,
.info-user .your-data table.info-users tbody tr td input,
.info-user .your-data table.info-users tbody tr td textarea{
  float: left;
}
.info-user .your-data table.info-users tbody tr td input{
  width: auto;
}
.info-user .your-data table.info-users tbody tr td label{
  margin-top: 6px;
}
.info-user .your-data table.info-users tbody tr td input[type="radio"]{
  margin-top: 10px;
}
.info-user .your-data table.condition-user input{
  float: left;
  margin-right: 10px;
  margin-top: 6px;
}
.info-user .your-data table.condition-user input[type="checkbox"]{
  width: auto;
}
.info-user .your-data table.condition-user tbody tr td{
  width: 100%;
  float: left;
}
.info-user .your-data table.condition-user tbody tr td p{
  display: block;
  font-size: 16px;
}
.info-user .your-data table.condition-user tbody tr td p span{
  text-decoration: underline;
}
.info-user .your-data table.detail-user  tfoot{
  float: left;
  width: 100%;
}
.info-user .your-data table.detail-user tbody{
  padding: 0;
}
.info-user .your-data table.detail-user tbody tr:nth-of-type(2n){
  background: #eeeeee;
}
.info-user .your-data table.detail-user tbody tr:nth-of-type(2n+1){
  background: #fff;
}
.info-user .your-data table.detail-user tbody tr td{
  padding: 8px 0;
}
.info-user .your-data table.detail-user  tfoot tr{
  padding: 0px 15px;
  background: #959595;
  float: left;
  width: 100%;
}
.info-user .your-data table.detail-user  tfoot tr td{
  color: #fff;
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
}
.info-user .your-data table.detail-user  tfoot tr td:last-child{
  width: 20%;
  float: left;
  text-align: right;
}
.info-user .your-data table.detail-user  tfoot tr td:first-child{
  width: 80%;
  float: left;
}
.info-user .your-data table.detail-user  tbody tr td{
  width: 20%;
  float: left;
  text-align: right;
}
.info-user .your-data table.detail-user  tbody tr td:first-child{
  width: 80%;
  float: left;
  text-align: left;
}
.info-user .info{
  float: left;
  width: 100%;
}
.info-user .info .info-cancel{
  padding: 12px 15px 8px;
  background: #eee;
  border: 1px solid #30b20b;
  margin-bottom: 20px;
}
.info-user .info .info-cancel figure{
  float: left;
  margin-right: 10px;
}
.info-user .info .info-cancel span{
  display: block;
  font-size: 16px;
  text-align: center;
}
.info-user .info .info-cancel h3{
  display: block;
  font-size: 25px;
  text-align: center;
  color: #30b20b;
  font-weight: 700;
}
.info-user .continue,
.ready .continue{
  float: left;
  width: 100%;
  margin-top: 40px;
}
.info-user .continue .bnt-continue,
.ready .continue .bnt-continue{
  float: right;
  background: #30b20b;
  font-size: 24.7px;
  text-transform: uppercase;
  font-family: 'Helvetica Neue';
  color: #fff;
  border-radius: 3px;
  padding: 7px 20px;
  border: none;
}
.info-user .continue .bnt-continue i,
.ready .continue .bnt-continue i{
  font-size: 30px;
  margin-left: 5px;
}
.fa-lock{
  margin: 0 5px 0 0;
}
/*===READY===*/
.ready table{
  border: 1px solid #c1beb7;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
.ready table thead{
  float: left;
  width: 100%;
}
.ready table tbody{
  float: left;
  width: 100%;
}
.ready table tbody tr{
  float: left;
  width: 100%;
  padding: 0 15px;
}
.ready table thead tr{
  background: #eee;
  display: block;
  padding: 0 15px;
}
.ready table thead tr th{
  color: #4f4f4f;
  padding: 10px 0;
  width: 100%;
  font-size: 18px;
}
.ready .code{
  float: left;
  margin-bottom: 40px;
  width: 100%;
}
.ready .code ul{
  float: left;
  width: 100%;
  border: 1px solid #c0bdb6;
}
.ready .code ul li{
  float: left;
}
.ready .code ul li:nth-of-type(1){
  background: #EEEEEE;
  color: #4f4f4f;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}
.ready .code ul li:nth-of-type(2){
  width: 55%;
  padding: 8px 15px;
  text-align: center;
}
.ready .code ul li:nth-of-type(2) span{
  float: left;
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}
.ready .code ul li:nth-of-type(2) span b{
  font-size: 20px;
}
.ready .code ul li:nth-of-type(3){
  width: 45%;
  padding: 8px 15px;
}
.ready .code ul li:nth-of-type(3) .desc{
  font-size: 12px;
}
.ready .rental-information table tfoot tr{
  background: #eee;
  display: block;
  padding: 0 15px;
}
.ready .rental-information table tfoot tr th{
  color: #4f4f4f;
  padding: 10px 0;
  width: 100%;
}
.ready .details table tbody tr ul{
  list-style: inside;
  display: block;
  padding: 10px 0 10px 5px;
}
.ready .info-important table tbody tr td h4{
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.ready .info-important table tbody tr td ul{
  list-style: disc;
  padding-left: 13px;
}
.ready .info-important table tbody tr td ul li:first-child{
  width: 100%;
}
.ready .info-important table tbody tr td ul li{
  float: left;
  width: 50%;
  padding: 15px 0;
}
.ready .info-important table tbody tr td ul li span{
  float: left;
  width: 100%;
}
.ready .info-important table tbody tr td ul li figure{
  float: left;
  margin-top: 10px;
}
.ready .info-important table tbody tr td p{
  float: left;
  width: 100%;
}
.ready .info .info-cancel{
  padding: 8px 15px;
  background: #eee;
  border: 1px solid #30b20b;
  margin-bottom: 20px;
  text-align: center;
  float: left;
}
.ready .info .info-cancel span{
  display: block;
  font-size: 16px;
}
.ready .info .info-cancel h3{
  display: block;
  font-size: 25px;
  color: #30b20b;
  font-weight: 700;
}
.ready  .info-attention{
  padding: 0 15px;
}
.ready .info-attention ul{
  float: left;
  width: 100%;
  margin-top: 15px;
}
.ready .info-attention ul li{
  float: left;
  width: 50%;
  padding-right: 5px;
}
.ready .info-attention ul li a{
  float: left;
  margin-right: 15px;
  color: #838383;
  font-size: 50px;
}
.ready .info-attention ul li span{
  display: block;
  font-size: 21px;
  font-weight: bold;
  margin-top: 10px;
}
.rental-information tbody tr td h3{
  font-size: 16px;
  font-weight: bold;
}
.rental-information tbody tr td{
  padding: 8px 0;
}
/*=====card-user====*/
.card-user{
  border: 1px solid #c1beb7;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
.card-user thead{
  float: left;
  width: 100%;
}
.card-user tbody{
  float: left;
  width: 100%;
}
.card-user tbody tr{
  float: left;
  width: 100%;
  padding: 0 15px;
}
.secur{
  float: left;
  position: relative;
}
.secur:before{
  position: absolute;
  content: "\f023";
  right: 9px;
  top: 23px;
  font-family: "fontawesome";
  font-size: 22px;
  color: #838383;
}
.card-user tbody tr:nth-of-type(3) td:last-child{
  width: auto !important;
}
.card-user tbody tr:nth-of-type(2) td:last-child{
  width: 75%;
}
.card-user tbody tr:nth-of-type(2) td:last-child input{
  width: 43%;
  margin-top: 21px;
}
.card-user tbody tr:nth-of-type(2) td:first-child span{
  margin-top: 21px;
}
.card-user tbody tr:last-child td{
  width: 100% !important;
  border: 1px solid #30b10b;
  padding: 5px;
}
.card-user tbody tr:last-child td figure{
  float: left;
  margin-right: 4px;
}
.card-user tbody tr:last-child td span{
  display: block;
  float: none !important;
  font-size: 16px;
  line-height: 20px !important;
  color: #30b10b;
}
.card-user tbody tr td{
  float: left;
}
.card-user tbody tr td figure{
  float: left;
  padding: 8px 5px;
}
.card-user tbody tr td input{
  width: auto !important;
}
.card-user tbody tr td:first-child{
  width: 25%;
}
.card-user tbody tr td{
  width: 40%;
}
.card-user tbody tr td:first-child span{
  float: right;
  padding-right: 5px;
}
.card-user tbody tr td input{
  float: left;
  width: 100%;
}
.card-user thead tr{
  background: #eee;
  display: block;
  padding: 0 15px;
}
.card-user thead tr th{
  color: #4f4f4f;
  padding: 10px 0;
  width: 100%;
}
.input-box span{
  float: left;
  width: 100%;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #53bc35;
}
.input-box {
  position: relative;
  background: #ededed;
  border: 1px solid #53bc35;
  float: left;
  width: 52%;
  margin-left: 25px;
  padding: 8px;
  text-align: center;
}
.input-box:after, .input-box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.input-box:after {
  border-color: rgba(237, 237, 237, 0);
  border-right-color: #ededed;
  border-width: 15px;
  margin-top: -15px;
}
.input-box:before {
  border-color: rgba(83, 188, 53, 0);
  border-right-color: #53bc35;
  border-width: 16px;
  margin-top: -16px;
}
.continue-box {
  position: relative;
  background: #ededed;
  border: 1px solid #6bc351;
  float: right;
  padding: 6px 20px;
  margin-right: 15px;
  border-radius: 3px;
  margin-top: 3px;
}
.continue-box figure{
  float: left;
  margin: 2px 5px 0 0 ;
}
.continue-box span{
  float: left;
  font-size: 20px;
  color: #30b10b;
}
.continue-box:after, .continue-box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.continue-box:after {
  border-color: rgba(237, 237, 237, 0);
  border-left-color: #ededed;
  border-width: 6px;
  margin-top: -6px;
}
.continue-box:before {
  border-color: rgba(107, 195, 81, 0);
  border-left-color: #6bc351;
  border-width: 7px;
  margin-top: -7px;
}
.infor{
  float: left;
  width: 100%;
  margin: 50px 0 15px 0;
}
.infor .info-cancel{
  float: left;
  width: 100%;
  border: 1px solid #47b827;
  padding: 10px 6px;
}
.infor .info-cancel figure{
  float: left;
  padding-right: 5px;
}
.infor .info-cancel h3{
  display: block;
}
.infor .info-cancel span{
  display: block;
  font-size: 10px;
}
.infor .info-i{
  float: left;
  width: 100%;
}
.infor .info-i figure{
  float: left;
  padding-right: 5px;
}
.infor .info-i span{
  font-size: 18px;
  display: block;
}
.infor .info-i span b{
  font-size: 12px;
  display: block;
  font-weight: normal;
}
.info-attention{
  float: left;
  width: 100%;
}
.info-attention .info-attention-contact{
  float: left;
  width: 100%;
}
.info-attention .info-attention-contact li:first-child{
  border-right: 2px solid #c0bdb6;
}
.info-attention .info-attention-contact li{
  float: left;
  width: 50%;
  text-align: center;
}
.info-attention .info-attention-contact li a{
  font-size: 30px;
  color: #838383;
  margin-right: 4px;
}
.info-attention .info-attention-contact li span{
  font-size: 12px;
}
/*===side-bar===*/
.side-bar{
  float: left;
  width: 100%;
}
.side-bar .about-car{
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.side-bar .about-car ul{
  width: 50%;
  float: left;
}
.side-bar .about-car ul li:first-child{
  font-weight: bold;
  font-size: 16px;
}
.side-bar .about-car ul.full{
  width: 100%;
}
.side-bar .about-car ul.full li:first-child{
  width: 100%;
}
.side-bar .about-car ul.full li{
  width: 50%;
}
.side-bar .about-car ul li{
  float: left;
  width: 100%;
  padding: 10px 0;
}
.side-bar .about-car ul li figure{
  float: left;
  margin-right: 5px;
}
.side-bar .about-car ul li span{
  display:block;
}
.side-bar .rental-information{
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.side-bar .rental-information table{
  border: 1px solid #eeeeee;
  width: 100%;
  float: left;
}
.side-bar .rental-information table tr th{
  background: #eee;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
}
.side-bar .rental-information table tr td{
  padding: 15px 15px 5px 15px;
}
.side-bar .rental-information table tr td h3{
  font-size: 18px;
}
.side-bar .info{
  float: left;
  width: 100%;
}
.side-bar .info .info-cancel{
  padding: 5px 15px;
  background: #eee;
  border: 1px solid #30b20b;
  margin-bottom: 20px;
}
.side-bar .info .info-cancel figure{
  float: left;
  margin-right: 10px;
}
.side-bar .info .info-cancel span{
  display: block;
  font-size: 10px;
}
.side-bar .info .info-cancel h3{
  display: block;
  font-size: 17.11px;
}
.side-bar .info .info-attention{
  padding: 0 15px;
}
.side-bar .info .info-attention figure{
  float: left;
  margin-right: 10px;
}
.side-bar .info .info-attention span{
  display: block;
  font-size: 10px;
}
.side-bar .info .info-attention h3{
  display: block;
  font-size: 17.11px;
}
.side-bar .info .info-attention ul{
  float: left;
  width: 100%;
  margin-top: 15px;
}
.side-bar .info .info-attention ul li{
  float: left;
  width: 50%;
  text-align: center;
}
.side-bar .info .info-attention ul li i{
  margin-right: 5px;
  color: #838383;
  font-size: 20px;
}
.side-bar .info .info-attention ul li span{
  font-size: 10px;
  display: inline;
}
.side-bar .detail-user{
  border: 1px solid #c1beb7;
  float: left;
  margin-bottom: 40px;
  width: 100%;
}
.side-bar .detail-user thead,
.side-bar .detail-user tbody{
  width: 100%;
  float: none;
}
.side-bar .detail-user tfoot{
  width: 100%;
}
.side-bar .detail-user tfoot tr{
  background: #959595;
  padding: 8px 15px;
}
.side-bar .detail-user tfoot tr td{
  color: #fff;
  padding: 8px 15px;
  font-weight: bold;
}
.side-bar .detail-user tfoot tr td:last-child{
  text-align: right;
}
.side-bar .detail-user thead tr{
  background: #eee none repeat scroll 0 0;
    padding: 0 15px;
    width: 100%;
}
.side-bar .detail-user thead tr th{
  color: #4f4f4f;
  font-size: 18px;
  padding: 10px 15px;
  width: 100%;
}
.side-bar table.detail-user tbody tr:nth-of-type(2n+1){
  background: #fff;
}
.side-bar table.detail-user tbody tr:nth-of-type(2n){
  background: #eee;
}
.side-bar table.detail-user tbody tr{
  width: 100%;
  padding: 0 15px;
}
.side-bar table.detail-user tbody tr td{
  padding: 8px 15px;
  width: 100%;
}
.side-bar table.detail-user tbody tr td:first-child{
  text-align: left;
  width: 80%;
}
.side-bar table.detail-user tbody tr td:last-child{
  text-align: right;
  width: 20%;
}


/*model-----------------------------------*/
.modal-dialog{
  margin: 0 auto;
  margin-top: 20%;
}
.modal-dialog .modal-content{
  float: left;
  width: 100%;
}
.modal-dialog .modal-content .modal-header{
  float: left;
  width: 100%;
  position: relative;
  background: #eeeeee;
  padding: 7px 10px;
}
.modal-dialog .modal-content .modal-header figure{
  float: left;
  margin: 0 5px 0 0;
}
.modal-dialog .modal-content .modal-header h4{
  float: left;
  font-size: 18px;
  font-weight: bold;
}
.modal-dialog .modal-content .modal-header button{
  position: absolute;
  right: -13px;
  top: -13px;
  color: #fff;
  border-radius: 50%;
  background: #4f4f4f;
  height: 30px;
  width: 30px;
  opacity: 1;
  z-index: 100;
}
.modal-dialog .modal-content .modal-header button:hover{
  opacity: 0.7;
}
.modal-dialog .modal-content .modal-body{
  float: left;
  width: 100%;
}
.modal-dialog .modal-content .modal-body{
  font-size: 16px;
  font-weight: normal;
}

/*==============FOOTER================
======================================*/
.footer{
  position: relative;
  background: #000;
  height: 190px;
  background: url(../images/bg-footer.png) no-repeat;
  background-size: 100%;
}
.footer .social-footer{
  position: absolute;
  bottom: 20px;
  right: 35px;
}
.footer .social-footer ul{
  float: left;
}
.footer .social-footer ul li{
  float: left;
  margin-right: 8px;
}
.footer .social-footer ul li a{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  color: #fff;
  display: block;
  line-height: 45px;
  text-align: center;
  font-size: 26px;
}
.footer .social-footer ul li a.fa-facebook{
  background: #3b5995;
}
.footer .social-footer ul li a.fa-google-plus{
  background: #d94a32;
}
.footer .social-footer ul li a.fa-phone{
  background: #5cb254;
}
.footer .social-footer ul li a.fa-envelope-o{
  background: #316793;
}
.footer .social-footer ul li a.fa-skype{
  color: #6bbdde;
  font-size: 45px;
}
.footer .social-footer ul li a.data{
  background: url(../images/icon-footer.png);
}
/*=footer-2=*/
.footer-2{
  text-align: center;
  padding: 25px 0;
  background: #eeeeee;
}
.footer-2 figure{
  float: left;
}
.footer-2 .logo-footer{
  float: left;
  width: 100%;
  padding: 11px 0;
}
.footer-2 .contact-footer-2 figure{
  margin-top: 10px;
}
.footer-2 .logo-footer-2{
  overflow: hidden;
}
.footer-2 .contact-footer-2 h3,
.footer-2 .contact-footer-2 span{
  display: block;
}
.footer-2 .rate-footer-2{}
.footer-2 .rate-footer-2 span{
  float: left;
  width: 100%;
}
.footer-2 .rate-footer-2 figure{
  float: left;
  width: 100%;
}
.footer-2 .rate-footer-2 ul{
  display: inline-block;
}
.footer-2 .rate-footer-2 ul li{
  float: left;
  display: inline-block;
}
.footer-2 .rate-footer-2 ul li i{
  color: #f9ba02;
  margin-right: 5px;
}
.footer-2 .security{
  float: left;
  width: 100%;
  text-align: center;
}
.footer-2 .security figure{
  float: none;
}
.phone-number{
  float: left;
  padding-left: 10px;
}


/*===============RESPONSIVE====================
==============================================*/
@media (min-width: 1200px){
  .navbar{
    height: 60px;
  }
  .slider{
    height: 550px;
  }
  .checkout .total::after, .checkout .total::before{
    border: 0px;
  }
  .checkout .continue{
    margin-top: 30px;
  }
  .checkout .continue .bnt-continue{
    float: right;
    width: auto;
    margin: 0;
  }
}
@media(max-width: 1199px){
  .secur::before{
    top: 2px;
  }
}
@media (min-width: 992px)and (max-width: 1199px){
  .footer-bottom .contact{
    margin-bottom: 15px;
  }
  .footer-2 .contact-footer-2 figure{
    width: 20%;
  }
  .phone-number{
    width: 80%;
  }
  .input-box{
    display: none;
  }
  .card-user tbody tr:nth-of-type(2) td:first-child span,
  .card-user tbody tr:nth-of-type(2) td:last-child input{
    margin: 0;
  }
  .banner {
    height: 440px;
  }
  .slider{
    height: 533px !important;
  }
  .slider .main-slider .owl-controls.clickable{
    display: none !important;
  }
  .slider .main-slider .into-text{
    top: 20px;
  }
  .product-features .product-features-title strong{
    font-size: 171px;
  }
  .product-features .product-features-title strong span{
    font-size: 25px;
  }
  .navbar{
    height: 60px;
  }
  .checkout .total::after, .checkout .total::before{
    border: 0px;
  }
  .checkout .continue{
    margin-top: 30px;
  }
  .checkout .continue .bnt-continue{
    float: right;
    width: auto;
  }
  /*.slider .main-slider .item .form-reserva{
    display: none !important;
  }*/
}
@media (min-width: 720px)and (max-width: 1080px){
  .title-style h2{
    font-size: 32px;
  }
  .product-features .product-features-title-head h3,
  .product-features .product-features-img h3{
    font-size: 26px;
  }
  .product-features .product-features-img h1,
  .testimonial .testimonial-logo h1{
    font-size: 30px;
  }
  .banner{
   height: 411px;
  }
}

@media (min-width: 768px)and (max-width: 991px){
  .testimonial-logo > div{
    margin-top: 20px;
  }
  .navbar ul.navbar-nav > li > a{
    padding: 5px 15px;
  }
  .footer-2 .contact-footer-2 figure{
    width: 20%;
  }
  .phone-number{
    width: 80%;
  }
/*  .navbar{
    height: 60px;
  }*/
  .padding-section{
    padding: 40px 0 65px;
  }
  .contact-us{
  	height: 1200px;
  }
  .wrap-price ul li span{
    font-size: 18px;
  }
  .info-user .your-data table tbody tr td label{
    margin-top: 8px;
  }
  .price-sevrvice .wrap-price-sevrvice .price-sevrvice-info .price-sevrvice-img img{
    padding: 0 12px;
  }
  .instruction .instruction-item h3{
    font-weight: normal;
    font-size: 26px;
  }
  #location-map-wrapper{
  	height: 1200px;
  }
  .checkout .continue .bnt-continue{
    padding: 7px 85px;
  }
  .side-bar .about-car figure{
    float: left;
    width: 100%;
    margin-top: 35px;
  }
  .footer{
  background: url(../images/bg-footer-tl.png) no-repeat;
  background-size: 100%;
  }
}
@media (max-width: 991px){
  .slider{
    height: 470px;
  }
  .banner {
    height: auto;
  }
  .header-2 .header-top .header-top-left{
    width: 100%;
  }
  /*menu*/
  .navbar{
    min-height: 0;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    display: block !important;
  }
  .navbar-nav>li {
    width: 100%;
    float: left;
  }
  .header-2 .navbar-nav>li {
    float: left;
    width: auto;
  }
  .header-2 .navbar{
    height: 60px;
  }
  .collapse.in{
    display:block !important;
  }
  .bnt-nav button{
    display: inline-block;
    margin-top: 25px;
  }
  .slider .form-reserva{
    padding: 10px 25px;
  }
  .slider .form-reserva h3{
    margin: 0;
    font-size: 25px;
  }
  .slider .form-reserva form .bnt-book-now{
    padding: 4px 17px;
  }
  .header-top{
    padding: 0;
  }
  .header-top .container{
    padding: 0;
    width: 100%;
  }
  .header-top .header-top-left{
    text-align: center;
    padding: 20px 0;
    float: left;
    width: 80%;
  }
  .header-top .header-top-left a{
    float: none;
    display: inline-block;
  }
  .header-top .header-top-left .desc-header{
    float: none;
    padding: 0;
    margin: 0;
  }
  .header-top .header-top-right{
    width: 100%;
    padding: 0;
    background: #2e2e2e;
    padding: 5px 15px;
  }
  .header-top .header-top-right .language{
    float: left;
  }
  .header-top .header-top-right .language span{
    color: #fff;
  }
  .header-top .header-top-right .language strong{
    color: #fff;
  }
  .header-top .header-top-right .header-login{
    float: right;
    margin: 0;
  }
  .header-top .header-top-right .header-login a{
    color: #fff;
  }
  .slider .main-slider .owl-controls.clickable{
    display: none !important;
  }
  .slider .main-slider .into-text h2{
  	font-size: 30px;
  }
  .slider .main-slider .into-text strong{
  	font-size: 50px;
  	font-weight: bold;
  	line-height: 55px;
  }
  .slider .main-slider .into-text span{
  	padding: 5px 40px 5px 15px;
  }
  .slider .main-slider .into-text span p{
  	font-size: 18px;
  }
  .slider .main-slider .into-text span em{
  	font-size: 12px;
  }
  .client .row > div{
    overflow: hidden;
  }
  .secur{
    width: 100%;
  }
  .card-user tbody tr:nth-of-type(3) td:first-child{
    width: auto !important;
  }
    .card-user tbody tr:nth-of-type(2) td:last-child{
    width: 100%;
  }
  .card-user tbody tr:nth-of-type(2) td:last-child input{
    width: 100% !important;
  }
  .card-user tbody tr:nth-of-type(4) td:first-child{
    width: auto;
   }
   .card-user tbody tr:nth-of-type(4) td:last-child{
    width: auto;
   }
  .banner-about .banner-info p{
    font-size: 21px;
  }
  .banner-about .banner-info p:last-child,
  .input-box{
    display: none;
  }
  .card-user tbody tr td:first-child{
    width: 100%;
  }
  .card-user tbody tr td{
    width: 100%;
  }
  .card-user tbody tr:first-child td select,
  .card-user tbody tr td input{
    width: 100%;
  }
  .card-user tbody tr td:first-child span{
    float: left;
  }
  .card-user tbody tr:nth-of-type(2) td:first-child span,
  .card-user tbody tr:nth-of-type(2) td:last-child input{
    margin: 0;
  }
  .feature .feature-item h4{
    margin-bottom: 8px;
    font-size: 24px;
    margin-top: 4px;
  }
  .infor .info-i span{
    font-size: 14px;
  }
  .infor .info-i span b{
    font-size: 10px;
  }
  .feature .feature-item a {
    font-size: 16px;
  }
  .product-features .product-features-title strong{
    font-size: 135px;
  }
  .product-features .product-features-title strong span{
    font-size: 20px;
  }
  .side-bar .info{
    display: none;
  }
  .side-bar .about-car{
    width: 50%;
  }
  .side-bar .rental-information{
    width: 50%;
  }
  .side-bar .about-car.sell-3{
    width: 100% !important;
  }
  .testimonial .wrap-slide{
    width: 100%;
    border: none;
    border-bottom: 1px solid #666;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .testimonial .social-testimo{
    width: 100%;
  }
  .price-sevrvice .wrap-price-sevrvice .price-sevrvice-card{
    padding-right: 15px;
  }
  .info-user .continue .bnt-continue{
    width: 100%;
  }
  .client figure{
    height: 60px;
    text-align: center;
  }
  .feature .feature-item.feature-work{
    margin: 0;
  }
  .product-features-img > div{
    margin-top: 20px;
  }
  .footer .social-footer{
    display: none;
  }
  .social{
    display: block;
  }
}
@media (max-width: 768px){
/*  .header-2 .navbar ul.nav-2 li{
    width: 33.33%;
  }*/
  .slider{
    height: auto;
  }
  .header-2 .navbar ul.nav-2{
    display: block;
  }
  .title-style h2{
    font-size: 28px;
  }
  .side-bar .about-car figure{
    text-align: center;
    margin-top: 30px;
  }
  .navbar ul.navbar-nav li{
    width: 100%;
  }
  .slider .main-slider .item .form-reserva{
    display: none !important;
  }
  .testimonial .testimonial-logo h1{
  	font-size: 27px;
  }
  .testimonial-logo > div{
    margin-top: 20px;
  }
  .testimonial .wrap-slide{
    width: 100%;
    margin-bottom: 20px;
  }
  .testimonial .social-testimo{
    width: 100%;
    padding: 0;
  }
  .info-user .your-data table.data-user tbody tr:last-child td input:last-child{
    margin-right: 0;
    width: 88%;
  }
  .info-user .your-data table.data-user tbody tr:last-child td input:first-child{
    width: 10%;
    margin-right: 2%;
  }
  .checkout .detail-check .detail-sevr tbody tr td{
    width: 100%;
  }
  .info-user .your-data table.detail-user tfoot tr td:first-child{
    width: 60%;
  }
  .info-user .your-data table.detail-user tfoot tr td:last-child{
    width: 40%;
  }
  .contact-us .contact-info:last-child{
  	margin-top: 110px;
  }
  .contact-us{
  	height: 1700px;
  }
  .testimonial-slide .item figure{
    width: 100%;
  }
  .testimonial-slide .item .desc{
    float: left;width: 100%;
  }
  .testimonial .social-testimo .social-item{
    width: 100%;
    text-align: center;
  }
  .testimonial .social-testimo .wrap-item{
    display: inline-block;
    margin: 20px 0;

  }
  .testimonial .social-testimo span{
    display: inline-block;
  }
  .testimonial .social-testimo ul{
    display: block;
  }
  .info-user .your-data table.info-users tbody tr td input[type="radio"]{
    margin-top: 15px;
  }
  .ready .info-important table tbody tr td ul li figure{
    float: left;
    width: 100%;
    text-align: center;
  }
  .card-user tbody tr:nth-of-type(3) td{
  width: auto !important;
}
  .product-features .product-features-img h1{
  	font-size: 27px;
  }
  .product-features .product-features-img h3{
  	font-size: 22px;
  }
  #location-map-wrapper{
  	height: 1700px;
  }
  .contact-us .contact-form{
  	margin-top: 110px;
  }
  .blog-post .blog-post-main{
    margin: 10px 0;
  }
  .blog-post .blog-post-main{
    text-align: center;
  }
  .blog-post .blog-post-main .bnt-read-more{
    float: none;
  }
  .wrap-price ul li{
    width: 100%;
  }
  .ready .info-important table tbody tr td ul li{
    width: 100%;
  }
  .side-bar .about-car{
    width: 100%;
  }
  .side-bar .rental-information{
    width: 100%;
  }
  .product-features .product-features-title{
    text-align: center;
  }
  .product-features .product-features-title.text-align-right{
    text-align: right;
  }
  .price-sevrvice .wrap-price-sevrvice .price-sevrvice-card{
    width: 100%;
    border-bottom: 1px solid #666;
    padding-bottom: 20px;
  }
  .price-sevrvice .wrap-price-sevrvice .price-sevrvice-info{
    border: none;
    padding-top: 20px;
    width: 100%;
  }
  .feature .feature-item.feature-location{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
  }
  .social .social-item ul li{
    margin-bottom: 15px;
  }
  .info-user .your-data table.data-user tbody tr td,
  .info-user .your-data table.code-user tbody tr td{
    width: 100%;
  }
  .info-user .your-data table.data-user tbody tr td:first-child,
  .info-user .your-data table.code-user tbody tr td:first-child{
    width: 100%;
    text-align: left;
  }
  .info-user .your-data table tbody tr td label{
    line-height: 34px;
    margin: 0px 10px 0px 0px;
  }
  .info-user .your-data table tbody tr td input{
    margin: 0 5px 0 0;
  }
  .info-user .your-data table tbody tr td label,
  .info-user .your-data table tbody tr td select,
  .info-user .your-data table tbody tr td input{
    float: left;
  }
  .info-user .your-data .data-item{
    float: left;
   /* width: 33.333333%;*/
  }
  .info-user .your-data table.data-user tbody tr:last-child td input{
    width: 69%;
  }
  .info-i{
    margin-top: 20px;
  }
  .ready .info-attention ul li{
    width: 48%;
  }
  .ready .info-attention ul li:first-child{
    margin-right: 4%;
  }
  .ready .code ul li:nth-of-type(2){
    width: 100%;
  }
  .ready .code ul li:nth-of-type(3){
    width: 100%;
  }
  .ready .code ul li:nth-of-type(2) span:last-child{
    margin: 0;
  }
  .feature .col-md-4{
  border-right: 0px;
  }
  .checkout .total::after, .checkout .total::before{
    border: 0px;
  }
  .footer-bottom .logo-footer{
    width: 100%;
  }
  .footer-bottom .copyright{
    width: 100%;
    margin-top: 20px;
  }
  .footer-2 .rate-footer-2{
    margin: 0 0 20px 0;
  }
  .footer{
  background: url(../images/bg-footer-mb.png) no-repeat;
  background-size: 100%;
  }
  .footer-2 .contact-footer-2 span{
    font-size: 11px;
   }
   .footer-2 .rate-footer-2 span{
    font-style: 11px;
   }
   .info-user .your-data table tbody tr td select{
    margin-right: 8px;
   }
   .info-user .your-data table.card-user tbody tr td .data-item label{
    float: left;
   }
   .info-user .your-data table.card-user tbody tr td .data-item select{
    float: left;
   }
}
@media (max-width: 660px){
  .info-user .your-data table.data-user tbody tr:last-child td input:first-child{
    width: 15%;
  }
  .info-user .your-data table.data-user tbody tr:last-child td input:last-child{
    width: 83%;
  }
  .modal-dialog{
    width: 400px;
  }
}
@media (min-width: 480px)and (max-width: 767px){
  .price-table .price-table-detail tr td span{
    font-size: 18px;
  }
  .padding-section{
    padding: 40px 0 65px;
  }
  .instruction .instruction-item:first-child{
    margin-bottom: 0;
  }
  .instruction .instruction-item h3{
    font-weight: normal;
    font-size: 25px;
  }
  .list-feature-item{
   padding: 26px 0;
  }
  .checkout .detail-check .detail-fitting tbody tr td select{
    margin-right: 10px;
  }
}
@media (max-width: 600px){
  .slider{height: 200px;}
  .title-style{
    position: inherit;
    float: left;
    width: 100%;
  }
  .title-style hr{
    display: none;
  }
  .title-style h2{
    position: inherit;
    float: left;
    width: 100%;
    padding: 0;
    left: 0;
    top: 0;
    white-space: normal;
    -webkit-transform: translate(0,0);
       -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
         -o-transform: translate(0,0);
            transform: translate(0,0);
  }
}
@media (max-width: 520px){
  .header-2 .navbar ul.nav-2 > li > a{
    padding: 5px 10px;
  }
  .modal-dialog{
    width: 280px;
  }
}
@media (max-width: 480px){
  .header-2 .navbar{
    height: 50px;
  }
  .header-2 .pesos{
    width: 70%;
  }
  .header-2 .navbar ul.nav-2 > li > a{
    line-height: 40px;
    font-size: 11px;
  }
  .padding-section{
    padding: 30px 0;
  }
  .list-feature-item{
   padding: 18px 0;
  }
  .wrap-price ul{
    margin-bottom: 30px;
    float: left;
  }
  .wrap-price ul li span{
    font-size: 20px;
  }
  .card-user tbody tr:last-child td figure{
    float: left;
    padding-right: 4px;
    margin-right: 0;
    width: 15%;
  }
  .card-user tbody tr:last-child td span{
    float: left !important;
    display: inherit !important;
    width: 85%;
    font-size: 16px;
    line-height: 20px !important;
    color: #30b10b;
    text-align: center;
  }
  .price-sevrvice .wrap-price-sevrvice .price-sevrvice-info{
    margin-bottom: 30px;
  }
  .price-table-detail{
    margin-bottom: 30px;
  }
  .instruction .row > div:last-child,
  .client .row > div:last-child,
  .feature .feature-item.feature-travel{
    margin-bottom: 30px;
  }
  .instruction .instruction-item:first-child{
    margin: 0;
  }
  .instruction .instruction-item h3{
    font-weight: normal;
    font-size: 25px;
  }
  .info-user .continue .bnt-continue, .ready .continue .bnt-continue{
    font-size: 18px;
    padding: 7px 0;
  }
  .info-user .continue .bnt-continue i, .ready .continue .bnt-continue i{
    font-size: 20px;
  }
  .info-attention .info-attention-contact li span{
    display: block;
  }
  .title-style{
    margin: 15px 0 30px 0;
  }
  .product-features .product-features-title strong{
    font-size: 100px;
  }
  .slider .main-slider .into-text{
  	top: 10px;
  }
  .slider .main-slider .into-text h2{
  	font-size: 20px;
  }
  .slider .main-slider .into-text strong{
  	font-size: 30px;
  	line-height: 35px;
  }
  .slider .main-slider .into-text span p{
  	font-size: 14px;
  }
  .slider .main-slider .into-text span em{
  	font-size: 10px;
  }
  .wrap-price ul li{
    width: 100%;
  }
  .wrap-price ul li span{
    font-size: 20px;
  }
  .price-table .price-table-detail tr td{
    height: 65px;
    border-right: 10px solid #fff;
    float: inherit;
  }
  .price-table .price-table-detail thead tr td:first-child{
    height: 100px;
  }
  .price-table .price-table-detail tr td span{
    font-size: 14px;
  }
  .price-sevrvice .wrap-price-sevrvice .price-sevrvice-card{
    width: 100%;
  }
  .price-sevrvice .wrap-price-sevrvice .price-sevrvice-info{
    width: 100%;
    padding: 0;
    border: 0;
    margin-top: 20px;
  }
  .price-sevrvice .wrap-price-sevrvice .price-sevrvice-info .price-sevrvice-img{
    text-align: center;
  }
  .checkout .detail-check .detail-fitting tbody tr td select{
    margin-right: 3px;
  }
  .ready .info-attention ul li a{
    display: block;
    float: none;
  }
  .feature .feature-item h4{
    font-size: 23px;
  }
  .feature .feature-item a{
    font-size: 16px;
  }
  .checkout .continue .bnt-continue{
    padding: 7px 25px;
  }
  .info-user .your-data table.data-user tbody tr:last-child td input:first-child{
    width: 23%;
  }
  .info-user .your-data table.data-user tbody tr:last-child td input:last-child{
    width: 75%;
  }
  .infor .info-cancel figure{
    width: 15%;
  }
  .infor .info-cancel h3{
    display: inherit;
    float: left;
    width: 85%;
    font-size: 15px;
  }
  .infor .info-cancel span{
    display: inherit;
    float: left;
    width: 80%;
  }
}
@media (max-width: 410px){
  .footer-2 .contact-footer-2 figure{
      width: 20%;
  }
  .phone-number{
    width: 80%;
  }
}
@media (max-width: 376px){
  .info-user .your-data .data-item{
    width: 100%;
    margin-bottom: 10px;
  }
  .info-user .your-data table tbody tr td .data-item label{
    float: left;
  }
  .info-user .your-data table tbody tr td .data-item select{
    float: right;
    margin-right: 40%;
  }
  .footer-2 .contact-footer-2 h3{
    font-size: 17px;
  }
   .footer-2 .contact-footer-2 span{
    font-size: 10px;
   }
}
