﻿<%@ Control Language="VB" ClassName="header" %>

<div id="header">

</div>

<div id="navCell">

    <ul id="nav">

       <%-- <li><a href="search.aspx">Reservations</a></li>
        <li><a href="/jeeps/">Our Jeeps</a></li>
        <li><a href="/about-mr-pipers-jeeps/">About Mr Piper's Jeeps</a></li>
        <li><a href="/coverage/">Policies</a></li>
        <li><a href="/location/">Location</a></li>
        <li><a href="/contact/">Contact Us</a></li>--%>

    </ul>

</div>
