﻿<%@ Control Language="VB" ClassName="map" %>

<div style="clear:both;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15149.929485026349!2d-64.77946315!3d18.325265249999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c0512497681ae4b%3A0xbd75b71a307c98ea!2sCruz+Bay%2C+St+John+00830%2C+USVI!5e0!3m2!1sen!2sus!4v1417544284698" width="980" height="274" frameborder="0" style="border:0"></iframe><img src="../images/divider-17.png" width="980" height="22" alt=""></div>
