﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ResSteps.ascx.vb" Inherits="Controls_ResSteps" %>


                   <h3 style="color:#0059A9;"> <asp:Label ID="lblintinanrytext" Text=" Your Itinerary" runat="server" meta:resourcekey="lblintinanrytextResource1"></asp:Label></h3>

                        <p style="margin-bottom:0px;"><div style="font-size:18pt; color:#027CC8;"><asp:Label Text="Pick up" ID="lblpickup" runat="server" meta:resourcekey="lblpickupResource1"></asp:Label></div>
                   <strong> <asp:Label ID="lblpickuplocation"  runat="server" 
    meta:resourcekey="lblpickuplocationResource1"></asp:Label></strong><br />
                      <asp:Label ID="lblpdate" runat="server" 
    meta:resourcekey="lblpdateResource1"></asp:Label> at
                      <asp:Label ID="lblptime" runat="server" meta:resourcekey="lblptimeResource1"></asp:Label><br />      	  
                       </p> 
               
                         <p style="margin-bottom:0px;"><div style="font-size:18pt; color:#027CC8;"><asp:Label Text="Return" ID="lblreturntext"  runat="server" meta:resourcekey="lblreturntextResource1"></asp:Label></div> 
                         
                       <%-- <strong><asp:Label Text="Location" ID="lblrlocationtext"  runat="server"  meta:resourcekey="lblrlocationtextResource1"></asp:Label></strong>:--%> <strong>
<asp:Label ID="lblreturnlocation"  runat="server" 
    meta:resourcekey="lblreturnlocationResource1"></asp:Label></strong><br /> 
                        <%--<asp:Label  ID="lblrdatetimetext" Text="Date/Time" runat="server"  meta:resourcekey="lblrdatetimetextResource1"></asp:Label></strong>:--%> 
                        <asp:Label  ID="lblddate" runat="server" meta:resourcekey="lblddateResource1"></asp:Label> at
                        <asp:Label  ID="lbldtime" runat="server" meta:resourcekey="lbldtimeResource1"></asp:Label>
                         </p> 
                         
                         <p><a href="search.aspx"  class="small_button"><asp:Label ID="lblEdit" runat="server" meta:resourcekey="lblEditResource1" Text="Edit"></asp:Label></a></p>
                        
<!-- END STEP1 DROP OFF CELL--> 


                  