﻿<%@ Control Language="VB" ClassName="search"  %>

<div class="cell-reservation-block-gray">
                    <div class="cell-reservation-block">
                    
                        <div class="page">
                            
                            <div>Pick up</div>
                            <input name="" type="text" value="12/2/2014" /> 
                            <select name="asdf" size="dsf"><option value="#">8:00 am</option></select>
                            
                            <div style="margin-top:15px;">Return</div>
                            <input name="" type="text" value="12/2/2014" /> 
                            <select name="asdf" size="dsf"><option value="#">8:00 am</option></select>
                            
                            <div style="margin-top:15px;">Discount Code</div>
                            <input name="" type="text" value="" placeholder="Optional" /> 
                            
                            <div style="margin-top:15px;"><a href="#" class="gen_button">Get Rates</a></div>
                         
                        </div>
                        
                    </div>
                    
                    <div class="cell-already-have">Have a Reservation? <a href="#" class="small_button">Modify</a> <a href="#" class="small_button">Cancel</a></div>
                </div>
            <!-- End content block -->
