﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="WebUserControl.ascx.vb" Inherits="controls_WebUserControl" %>
<%@ Register TagName="search" TagPrefix="my" Src="Search.ascx" %>



          <my:search ID="txt" runat="server" />
         
