﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MastarList.master" AutoEventWireup="false" CodeFile="HomeUrl.aspx.vb" Inherits="HomeUrl" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div style="font-size: medium; text-align: center">
        <p>your Transaction confirm successfully</p>
    </div>
</asp:Content>

