﻿<%@ Page Title="" Language="VB" MasterPageFile="MastarList.master" AutoEventWireup="false" CodeFile="Search.aspx.vb" Inherits="Default2" %>
<%@ Register TagName="serach" TagPrefix="my" Src="controls/WebUserControl.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <title>Search</title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">





	<div class="col-md-6">
    
    <h2>Start your Reservation</h2>
    
    
    <my:serach runat="server" />
    
    </div>

	  
        
        
        
        
        
	  <div class="col-md-6 visible-desktop">
      
      
      
            <h2>Book your Vehicle in four easy steps</h2>
            <h2 style="margin-top:34px;"><span class="step-number">1</span> <small>Select your Date and Destination</small></h2>
            <h2><span class="step-number">2</span> <small>Choose your Vehicle</small></h2>
            <h2><span class="step-number">3</span> <small>Choose your Protector Plan and Extras</small> </h2>
            <h2><span class="step-number">4</span> <small>Review and Send your Information</small> </h2>
            <h2>
      </h2>

		</div>
        
      

</asp:Content>

