﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MastarList.master" AutoEventWireup="false" CodeFile="Success.aspx.vb" Inherits="Success" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <div style="font-size: medium; text-align: center">
        <div class='col-md-12'>
            <div class='your-data'>
                <h3>Your Transaction Details are given Below:</h3>
                <asp:Label ID="lbltransactionDetail" runat="server"></asp:Label>
            </div>
    </div>
    </div>
</asp:Content>

