@font-face {
    font-family: 'latolight_italic';
    src: url('lato-ligita-webfont.eot');
    src: url('lato-ligita-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-ligita-webfont.woff') format('woff'),
         url('lato-ligita-webfont.ttf') format('truetype'),
         url('lato-ligita-webfont.svg#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('lato-reg-webfont.eot');
    src: url('lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-reg-webfont.woff') format('woff'),
         url('lato-reg-webfont.ttf') format('truetype'),
         url('lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoitalic';
    src: url('lato-regita-webfont.eot');
    src: url('lato-regita-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-regita-webfont.woff') format('woff'),
         url('lato-regita-webfont.ttf') format('truetype'),
         url('lato-regita-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/********************************** Global **********************************/

body {
	
	background-repeat: repeat-x;
	padding:0px;
	margin:0px;
	
	text-align: center;
	font-family: 'latoregular';
}

P { font-size:11pt;font-weight: normal; color: #313131;}
TH {font-size:11pt;font-weight: normal; color: #333333;}
TD { font-size:11pt;font-weight: normal; color: #333333;}
UL,OL
{
    font-size:11pt;font-weight: normal;
}
IMG { border:none;}

LI
{
    font-size:11pt;font-weight: normal;
    COLOR: #000000;
	line-height:1.20;
}


.clear{ clear:both;}
.insidebody{clear:both; background-color:#FFF; padding:20px;}

A{
	COLOR: #E18B16;
	text-decoration:none;
	font-weight:normal;
}
A:hover{
	COLOR: #666;
	text-decoration:none;
	font-weight:normal;
}

.vehiclelink{font-size:9pt;}
.small{ font-size:10px;}

h1, h2, h3, h4, h5{	font-weight:normal;	font-family: 'latoregular';}

H1{
	COLOR: #D15515;
	margin-top:0px;
}
H2{
	COLOR: #E28D15;
}
H3{COLOR: #cc8d15;}
H4{COLOR: #2a65ad;}
H5{COLOR: #165499;}

/********************************** General Layout **********************************/

#container {
width: 980px;
margin: 0px auto;
text-align: left;
} 

#header{height:192px; width:980px;}
#navCell{width:980px; height:51px; clear:both;}
#footerCell{
	width: 100%;
	clear:both;
	background-repeat:repeat-x;
	background-position:top center;	
 }
#footerHold{
		width: 980px;
		margin: 0px auto;
		padding-top:10px;
		color:#FFF;
text-align: left;
min-height:267px;}

#footerHold h3{ color:#FFF;}
#footerHold ul{
	
		color:#FFF;
		text-indent:0px;
		margin-left:0px;
		padding-left:0px;}


#footerHold li{
	
		color:#FFF;
		text-indent:0px;
		margin-left:0px;
		padding-left:0px;}
#logoArea{float:left; width:406px;}
#headRight{float:right; width:509px;}
#bodyArea{ width:980px;}

/********************************** Homepage Styles **********************************/

.cell-slider{position: relative; height:453px;}
.cell-under{position: absolute; z-index: 1; left: 0; top: 0; height:400px;}
.cell-over{position: relative; z-index: 2; margin-left:30px; margin-top:30px;}
.cell-reservation-block{background-color:#F00; min-height:365px; width:270px; font-size:15pt; color:#FFF;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background: #e9a515; /* Old browsers */
background: -moz-linear-gradient(top,  #e9a515 0%, #e9a515 0%, #d97115 40%, #c12215 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9a515), color-stop(0%,#e9a515), color-stop(40%,#d97115), color-stop(100%,#c12215)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e9a515 0%,#e9a515 0%,#d97115 40%,#c12215 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e9a515 0%,#e9a515 0%,#d97115 40%,#c12215 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e9a515 0%,#e9a515 0%,#d97115 40%,#c12215 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e9a515 0%,#e9a515 0%,#d97115 40%,#c12215 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9a515', endColorstr='#c12215',GradientType=0 ); /* IE6-9 */}
.cell-reservation-block-gray{
	background-color:#FFF;
	min-height:400px;
	width:270px;
	color:#FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: solid 1px #c12215;
}

.cell-already-have{font-size:10pt; color:#666; padding:10px;}

.home-left{float:left; width:308px;}
.home-right{float:right; width:578px;}

.page-left{float:left; width:605px;}
.page-right{float:right; width:258px;}

/********************************** Misc **********************************/

#pad10{ padding:10px;}
#pad20{padding:20px;}

.costRed{color:#F00;}
.bluebold{ color:#333399;}
.Cartitle{ font-size:12pt; color:#333399;}


DIV{ margin:0; padding:0;overflow:hidden;}

.input { font-size:9pt; border: 1px solid #666666;}

.staffDesc{ font-size:8pt; color:#464646; font-weight:normal;}

.dateFormat{font-size:10pt;color:#666;font-weight:normal;}
.dateFormat a:link {font-size:10pt;font-weight: normal;color: #391e03;text-decoration: none;}
.dateFormat a:active {font-size:10pt;font-weight: normal;color: #391e03;text-decoration: none;}
.dateFormat a:visited {font-size:10pt;font-weight: normal;color: #391e03;text-decoration: none;}
.dateFormat a:hover {font-size:10pt;font-weight: normal;color: #391e03;text-decoration:none;}

#whiteBG{ background-color:#FFFFFF;}

.yellow{color:#fffb00;}
.red{ color:#9a1626;}



.page{padding-left:16px; padding-top:15px; padding-right:16px; padding-bottom:10px;}

/********************************** Other **********************************/

.white a:link {font-weight: normal;color: #ffffff;text-decoration: none;}
.white a:active {font-weight: normal;color: #ffffff;text-decoration: none;}
.white a:visited {font-weight: normal;color: #ffffff;text-decoration: none;}
.white a:hover {font-weight: normal;color: #ffffff;text-decoration:underline;}
.white {font-weight: normal;color: #ffffff;text-decoration:none;}

.footer a:link {font-weight: normal;color: #5757c6;text-decoration: none;}
.footer a:visited {font-weight: normal;color: #5757c6;text-decoration: none;}
.footer a:hover {
	
	font-weight: normal;
	color: #333399;
	text-decoration:none;
}
.footer {font-weight: normal;color: #333399;text-decoration:none;}

.important-alert{color:#df0606; font-weight:bold;}
.important{color:#69C637; font-weight:bold;}

#PageTitle{ font-size:18pt; color:#4c1627;}

.anylinkcss{
position:absolute;
visibility: hidden;
border:1px solid black;
border-bottom-width: 0;
font:normal 12px arial;
line-height: 18px;
z-index: 1000;
background-color: #fffbd6;
width: 180px;

}

.anylinkcss a{
width: 100%;
display: block;
text-indent: 2px;
border-bottom: 1px solid black;
padding: 1px 0;
text-decoration: none;
font-weight: normal;
text-indent: 2px;
font:arial;
color:#4c1627;
}

.anylinkcss a:visited{
width: 100%;
display: block;
text-indent: 2px;
border-bottom: 1px solid black;
padding: 1px 0;
text-decoration: none;
font-weight: normal;
text-indent: 2px;
font:arial;
color:#003300;
}

.anylinkcss a:hover{ /*hover background color*/
background-color:#4c1627;
color: white;
font:arial;
}

#nav{
			
		
			list-style:none;
			margin:0;
			padding:0;
			text-align:center;
		
		}
		#nav li{
			display:inline;
		}
		#nav a{
			display:inline-block;
			padding:8px;
			padding-left:12px;
			padding-right:12px;
			font-size:18pt;
		}

#nav li a:link{
		
		color: #000;
		}


#nav li a:visited{
	color:#000;
}

#nav li a:hover{
	color:#C12115;
}

.gen_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #54aafa;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54aafa;
	box-shadow:inset 0px 1px 0px 0px #54aafa;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #54aafa), color-stop(1, #2683da) );
	background:-moz-linear-gradient( center top, #54aafa 5%, #2683da 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#54aafa', endColorstr='#2683da');
	background-color:#54aafa;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #2683da;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:normal;
	font-style:normal;
	height:35px;
	line-height:35px;
	width:168px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #2683da;
}
.gen_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2683da), color-stop(1, #54aafa) );
	background:-moz-linear-gradient( center top, #2683da 5%, #54aafa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2683da', endColorstr='#54aafa');
	background-color:#2683da;
	color:#ffffff;
}.gen_button:active {
	position:relative;
	color:#ffffff;
	top:1px;
}
.small_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background-color:#c12115;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #c12115;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
	font-style:normal;
	height:23px;
	line-height:23px;
	width:59px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
}.small_button:hover {
	background-color:#ce0100;
	color:#ffffff;
}.small_button:active {
	position:relative;
	color:#ffffff;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */

/** TESTIMONIALS **/

.testimonial {
	margin: 0;
	background: #e7e7e7;
	padding: 10px 50px;
	position: relative;
	color: #666;
	border-radius: 5px;
	text-shadow: 0 1px 0 #ECFBFF;
	background-image: linear-gradient(#fafafa, #efefef);
}
.testimonial:before, .testimonial:after {
	content: "\201C";
	position: absolute;
	font-size: 80px;
	line-height: 1;
	color: #999;
	font-style: normal;
}
.testimonial:before {
	top: 0;
	left: 10px;
}
.testimonial:after {
	content: "\201D";
	right: 10px;
	bottom: -0.5em;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #efefef;
	margin: 0 0 0 25px;
}
.testimonial-author {
	margin: 0 0 0 25px;
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	text-align:left;
}
.testimonial-author span {
	font-size: 12px;
	color: #666;
}

/*Add New Css*/
        .textArea {
            background-color: #fff;
            border: 1px solid #cacaca;
            border-radius: 8px;
            margin-bottom: 18px;
            margin-top: 10px;
            padding: 15px;
        }

        .step_1_pickup {
            float: left;
            margin-right: 10px;
            width: 152px;
        }

        .row_steps {
            background-color: #D66915;
        }

        .step_1_dropoff {
            float: left;
            margin-right: 10px;
            width: 173px;
        }

        .step_2 {
            float: left;
            margin-right: 10px;
            width: 267px;
        }

        .step_3 {
            float: right;
            margin-right: 10px;
            width: 205px;
        }
        .step_on {
    background-color: #fff;
    border-radius: 15px;
    color: #027cc8;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12pt;
    font-weight: bold;
    padding: 8px;
}
        .step_off_h {
    color: #fff;
}
        .step_off {
    background-color: #F5AD3C;
    border-radius: 15px;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12pt;
    font-weight: bold;
    padding: 8px;
}
        .row_fleet_listing {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 15px;
}