/* CSS Document */

body {
	background-color:#ededed !important;
	overflow:hidden;
	font:'Open Sans', Arial, sans-serif;
}

.res-box-left {
	background-color:#f49246;
	color:#fff;
	border-radius:3px;
	padding-bottom:30px;
}	
	.res-box-left input, .res-box-left select {
		color:#000;
	}
		.res-box-left input[type=submit] {
			color:#fff;
		}
		
h2 small {
	color:inherit !important;
}

.step-number {
	border-radius: 30px;
	background-color: #f49246;
	color: #fff;
	display: block;
	padding: 5px 11px;
	width: 40px;
	float: left;
	margin-top: -2px;
    margin-right: 5px;
}

.step-number-invert {
	border-radius: 30px;
	background-color: #fff;
	color: #f49246;
	display: block;
	padding: 5px 11px;
	width: 40px;
	float: left;
	margin-top: -2px;
    margin-right: 5px;
}

.modify-cancel {
	background:#fff;
}

.itin-box {
	background:#fff;
	margin-bottom:2px;
}

.top-itin {
	padding:10px;
}

.list-holder {
	background-color:#fff;
	width:100%;
}

.car-row {
	padding:15px 0px !important;
}
	.car-row img {
		max-height: 100px;
	}
	
	.car-row h3 {
		font-size:22px;
	}


.detail-head {
	background:#f49246;
}
	.detail-head h3 {
		color:#fff;
	}


.tooltipp {
  display: block;
  border: 1px solid #f49246;
  border-radius: 15px;
  padding: 3px;
  padding-left: 8px;
  width: 28px;
  background-color: #f49246;
  color: #fff !important;
  font-weight: bold;
  text-decoration: none;
}
.tooltipp:hover {
	text-decoration: none;
}


.highlightAge {
	border:1px solid #f49246;
}

/**************************************************
				Age Pop Up Box
**************************************************/
#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
  width:100vw;
  height:100vh;
}

#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  margin:auto;
  width:100%;
  height: 200px;
  display: none;
  z-index: 9999;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

#boxes #dialog {
  width: 80%;
  height: 300px;
  padding: 10px;
  background-color: #ffffff;
  font-size: 15pt;
  
}

#popupfoot {
  position: absolute;
  bottom: 0px;
  width: 260px;
  left:0;
  right:0;
  margin:0 auto;
}

#popupfoot .agree {
	display:block;
	float:left;
	background:#f49246;
	color:#fff;
	font-size:18px;
	padding: 15px;
	margin-bottom:10px;
}

#popupfoot .cl0se {
	display:block;
	float:left;
	background:#F00;
	color:#fff;
	font-size:18px;
	padding: 15px;
	margin-bottom:10px;
}

/**************************************************
					Buttons 
**************************************************/
.btn-next {
	-moz-box-shadow:inset 0px 1px 0px 0px #014671;
	-webkit-box-shadow:inset 0px 1px 0px 0px #014671;
	box-shadow:inset 0px 1px 0px 0px #014671;
	background-color:#02588e;
	border:1px solid #02588e;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 12px;
	text-decoration:none;
}
.btn-next:hover {
	background-color:#02588e;
	color:#ffffff;
}
.btn-next:active {
	position:relative;
	top:1px;
	color:#ffffff;
}

.btn-next:visited { 
	color:#ffffff;
}

.grey-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.grey-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.grey-btn:active {
	position:relative;
	top:1px;
}
  