﻿/********************************** Global **********************************/

.table_fix_font_size table {
    font-size: 10pt;
}

.table_fix_font_size td {
    font-size: 10pt;
}

.table_fix_font_size th {
    font-size: 10pt;
}

.ins-left {
    float: left;
    width: 280px;
}

.ins-right {
    float: right;
    width: 650px;
    padding-bottom: 15px;
}

.cell_pad {
    padding: 18px;
}

.cell_reservation {
    min-height: 465px;
    border: 1px solid #aeb6bb;
    background-image: url(images/reservation-box-bg2.jpg);
}

.cell_reservation h2 {
        margin-top: 0px;
        color: #946611;
    }

.step_cell {
    width: 400px;
}

.step_off {
    padding: 8px;
    margin-right: 5px;
    background-color: #B5C0C4;
    float: left;
    color: #FFF;
    width: 60px;
    text-align: center;
    font-weight: bold;
}

.step_on {
    padding: 8px;
    margin-right: 5px;
    background-color: #F3A100;
    float: left;
    color: #FFF;
    width: 60px;
    text-align: center;
    font-weight: bold;
}
.rates {
    -moz-box-shadow: inset 0px 1px 0px 0px #72838d;
    -webkit-box-shadow: inset 0px 1px 0px 0px #72838d;
    box-shadow: inset 0px 1px 0px 0px #72838d;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #72838d), color-stop(1, #253036) );
    background: -moz-linear-gradient( center top, #72838d 5%, #253036 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72838d', endColorstr='#253036');
    background-color: #72838d;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    text-indent: 0;
    border: 1px solid #72838d;
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    height: 28px;
    line-height: 28px;
    width: 140px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #253036;
}

    .rates:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #253036), color-stop(1, #72838d) );
        background: -moz-linear-gradient( center top, #253036 5%, #72838d 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#253036', endColorstr='#72838d');
        background-color: #253036;
        font-weight: normal;
        color: #ffffff;
    }

    .rates:active {
        position: relative;
        top: 1px;
        color: #ffffff;
    }

    .book_It_text {
    -moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc875), color-stop(1, #faa11b) );
    background: -moz-linear-gradient( center top, #ffc875 5%, #faa11b 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc875', endColorstr='#faa11b');
    background-color: #ffc875;
    -webkit-border-top-left-radius: 9px;
    -moz-border-radius-topleft: 9px;
    border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-radius-topright: 9px;
    border-top-right-radius: 9px;
    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-bottomright: 9px;
    border-bottom-right-radius: 9px;
    -webkit-border-bottom-left-radius: 9px;
    -moz-border-radius-bottomleft: 9px;
    border-bottom-left-radius: 9px;
    text-indent: 0;
    border: 1px solid #faa11b;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    font-style: normal;
    height: 27px;
    line-height: 27px;
    width: 118px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #d18b22;
}

    .book_It_text:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #faa11b), color-stop(1, #ffc875) );
        background: -moz-linear-gradient( center top, #faa11b 5%, #ffc875 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa11b', endColorstr='#ffc875');
        background-color: #faa11b;
        color: #ffffff;
        font-weight: bold;
    }

    .book_It_text:active {
        position: relative;
        font-weight: bold;
        top: 1px;
    }








