/********************************** Global **********************************/





@font-face {
    font-family: 'ralewaysemibold';
    src: url('raleway-semibold-webfont.eot');
    src: url('raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('raleway-semibold-webfont.woff') format('woff'), url('raleway-semibold-webfont.ttf') format('truetype'), url('raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-thin-webfont.eot');
    src: url('raleway-thin-webfont.eot?#iefix') format('embedded-opentype'), url('raleway-thin-webfont.woff') format('woff'), url('raleway-thin-webfont.ttf') format('truetype'), url('raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

P {
    font-size: 10pt;
    font-weight: normal;
    color: #313131;
}

TH {
    font-size: 10pt;
    font-weight: normal;
    color: #333333;
}

TD {
    font-size: 10pt;
    font-weight: normal;
    color: #333333;
}

UL, OL {
    font-size: 10pt;
    font-weight: normal;
}

IMG {
    border: none;
}

LI {
    font-size: 10pt;
    font-weight: normal;
    COLOR: #000000;
    line-height: 1.20;
}


A {
    COLOR: #FF0D00;
    text-decoration: none;
    font-weight: normal;
}

    A:hover {
        COLOR: #666;
        text-decoration: none;
        font-weight: normal;
    }

.vehiclelink {
    font-size: 9pt;
}

.small {
    font-size: 10px;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

H1 {
    COLOR: #fff;
    margin-top: 0px;
    font-size: 20pt;
}

H2 {
    COLOR: #126E9D;
    font-size: 18pt;
    font-family: 'ralewaythin';
}

H3 {
    COLOR: #666;
    font-family: 'ralewaythin';
}

H4 {
    COLOR: #0064A0;
}

H5 {
    COLOR: #165499;
}

.heading {
    background-image: url(images/mod-header-sprite-mod.png);
    background-position: bottom left;
    padding-bottom: 15px;
    background-repeat: repeat-x;
}

/********************************** General Layout **********************************/

#container {
    width: 100%;
    margin: 0px auto;
    text-align: left;
}


#bodyArea {
    width: 100%;
    padding-top: 12px;
}

.left_rent_box {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #0066A4;
    min-height: 637px;
}


.videobox {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #0066A4;
    padding: 10px;
}

.left_rent_box_pad {
    padding: 5px;
}

.left_rent_bg {
    width: 260px;
    min-height: 360px;
}

.button_submit {
    -moz-box-shadow: inset 0px 1px 0px 0px #0092e6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #0092e6;
    box-shadow: inset 0px 1px 0px 0px #0092e6;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0092e6), color-stop(1, #005b90) );
    background: -moz-linear-gradient( center top, #0092e6 5%, #005b90 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0092e6', endColorstr='#005b90');
    background-color: #0092e6;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
    text-indent: 0;
    border: 1px solid #007dca;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    height: 31px;
    line-height: 31px;
    width: 171px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #005b90;
}

    .button_submit:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005b90), color-stop(1, #0092e6) );
        background: -moz-linear-gradient( center top, #005b90 5%, #0092e6 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005b90', endColorstr='#0092e6');
        background-color: #005b90;
        color: #ffffff;
    }

    .button_submit:active {
        position: relative;
        color: #ffffff;
        top: 1px;
    }


.step_cell {
    background-color: #F5AD3C;
    padding: 10px;
}

.step_off {
    padding: 8px;
    margin-right: 5px;
    background-color: #B5C0C4;
    float: left;
    color: #FFF;
    width: 60px;
    text-align: center;
    font-weight: bold;
}

.step_on {
    padding: 8px;
    margin-right: 5px;
    background-color: #14A0DB;
    float: left;
    color: #FFF;
    width: 60px;
    text-align: center;
    font-weight: bold;
}
/********************************** Homepage Styles **********************************/

.home_left {
    float: left;
    width: 200px;
    padding-bottom: 10px;
}

.home_right {
    float: right;
    width: 400px;
}

.body-text {
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hotlinks {
    padding-top: 10px;
}

.intro_text {
    height: 61px;
}

.textshadow {
    font-size: 13pt;
}

.25top {
    padding-top: 25px;
}
/********************************** Misc **********************************/

#pad10 {
    padding: 10px;
}

.pad10 {
    padding: 10px;
}

#pad20 {
    padding: 20px;
}

#home-right {
    float: right;
    width: 100%;
}



.fleet_row_new {
    border: 1px solid #CCC;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    clear: both;
}

.fleet_image {
    float: left;
    width: 160px;
    text-align: center;
}

    .fleet_image IMG {
        width: 160px;
    }

    .fleet_image image {
        width: 160px;
    }

.fleet_amenities_listing {
    float: right;
    width: 130px;
}

    .fleet_amenities_listing ul {
        text-indent: -0.5em;
    }

    .fleet_amenities_listing li {
        font-size: 8pt;
        margin-top: 0px;
    }

.spacing10_right {
    float: right;
    width: 10px;
}

.fleet_text {
    float: left;
    margin-left: 15px;
    width: 460px;
    vertical-align: middle;
}

#icontabs ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
}

    #icontabs ul li {
        margin-left: 0;
        margin-bottom: 0;
        padding: 2px 15px 5px;
        list-style: none;
        display: inline;
    }




#gold-right-top {
    background-image: url(/images/gold-right-top.png);
    width: 565px;
    height: 31px;
    line-height: 2em;
}

#gold-right-bg {
    background-image: url(/images/gold-right-bg.png);
    width: 565px;
}

#gold-right-bot {
    background-image: url(/images/gold-right-bot.png);
    width: 565px;
    height: 9px;
}

#insideLeft {
    float: left;
    width: 304px;
}

#left-pad {
    padding-left: 7px;
}

#left-pad-all {
    padding: 7px;
}

.costRed {
    color: #F00;
}

.bluebold {
    color: #333399;
}

.Cartitle {
    font-size: 12pt;
    color: #333399;
}


DIV {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.input {
    font-size: 9pt;
    border: 1px solid #666666;
}

.staffDesc {
    font-size: 8pt;
    color: #464646;
    font-weight: normal;
}

.dateFormat {
    font-size: 10pt;
    color: #666;
    font-weight: normal;
}

    .dateFormat a:link {
        font-size: 10pt;
        font-weight: normal;
        color: #391e03;
        text-decoration: none;
    }

    .dateFormat a:active {
        font-size: 10pt;
        font-weight: normal;
        color: #391e03;
        text-decoration: none;
    }

    .dateFormat a:visited {
        font-size: 10pt;
        font-weight: normal;
        color: #391e03;
        text-decoration: none;
    }

    .dateFormat a:hover {
        font-size: 10pt;
        font-weight: normal;
        color: #391e03;
        text-decoration: none;
    }

#whiteBG {
    background-color: #FFFFFF;
}

.yellow {
    color: #fffb00;
}

.red {
    color: #9a1626;
}



.page {
    padding-left: 16px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 10px;
}

/********************************** Other **********************************/

.white a:link {
    font-weight: normal;
    color: #ffdc6e;
    text-decoration: none;
}

.white a:active {
    font-weight: normal;
    color: #ffdc6e;
    text-decoration: none;
}

.white a:visited {
    font-weight: normal;
    color: #ffdc6e;
    text-decoration: none;
}

.white a:hover {
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
}

.white {
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
}

.footer a:link {
    font-weight: normal;
    color: #5757c6;
    text-decoration: none;
}

.footer a:visited {
    font-weight: normal;
    color: #5757c6;
    text-decoration: none;
}

.footer a:hover {
    font-weight: normal;
    color: #333399;
    text-decoration: none;
}

.footer {
    font-weight: normal;
    color: #333399;
    text-decoration: none;
}

.important-alert {
    color: #df0606;
    font-weight: bold;
}

.important {
    color: #69C637;
    font-weight: bold;
}

#PageTitle {
    font-size: 18pt;
    color: #4c1627;
}

.anylinkcss {
    position: absolute;
    visibility: hidden;
    border: 1px solid black;
    border-bottom-width: 0;
    font: normal 12px arial;
    line-height: 18px;
    z-index: 100;
    background-color: #fffbd6;
    width: 180px;
}

    .anylinkcss a {
        width: 100%;
        display: block;
        text-indent: 2px;
        border-bottom: 1px solid black;
        padding: 1px 0;
        text-decoration: none;
        font-weight: normal;
        text-indent: 2px;
        font: arial;
        color: #4c1627;
    }

table {
    border: 0px;
    border-collapse: collapse;
    border: none;
    border-spacing: 0;
}

.anylinkcss a:visited {
    width: 100%;
    display: block;
    text-indent: 2px;
    border-bottom: 1px solid black;
    padding: 1px 0;
    text-decoration: none;
    font-weight: normal;
    text-indent: 2px;
    font: arial;
    color: #003300;
}

.anylinkcss a:hover { /*hover background color*/
    background-color: #4c1627;
    color: white;
    font: arial;
}

.rates {
    -moz-box-shadow: inset 0px 1px 0px 0px #72838d;
    -webkit-box-shadow: inset 0px 1px 0px 0px #72838d;
    box-shadow: inset 0px 1px 0px 0px #72838d;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #72838d), color-stop(1, #253036) );
    background: -moz-linear-gradient( center top, #72838d 5%, #253036 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72838d', endColorstr='#253036');
    background-color: #72838d;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    text-indent: 0;
    border: 1px solid #72838d;
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    height: 28px;
    line-height: 28px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #253036;
}

    .rates:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #253036), color-stop(1, #72838d) );
        background: -moz-linear-gradient( center top, #253036 5%, #72838d 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#253036', endColorstr='#72838d');
        background-color: #253036;
        font-weight: normal;
        color: #ffffff;
    }

    .rates:active {
        position: relative;
        top: 1px;
        color: #ffffff;
    }





.editbutton {
    -moz-box-shadow: inset 0px 1px 0px 0px #72838d;
    -webkit-box-shadow: inset 0px 1px 0px 0px #72838d;
    box-shadow: inset 0px 1px 0px 0px #72838d;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #72838d), color-stop(1, #253036) );
    background: -moz-linear-gradient( center top, #72838d 5%, #253036 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72838d', endColorstr='#253036');
    background-color: #72838d;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    text-indent: 0;
    border: 1px solid #72838d;
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    height: 28px;
    line-height: 28px;
    width: 150px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #253036;
}

    .editbutton:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #253036), color-stop(1, #72838d) );
        background: -moz-linear-gradient( center top, #253036 5%, #72838d 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#253036', endColorstr='#72838d');
        background-color: #253036;
        font-weight: normal;
        color: #ffffff;
    }

    .editbutton:active {
        position: relative;
        top: 1px;
        color: #ffffff;
    }
